<div class='col-lg-6 col-sm-12 col-xs-12'>
       <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class='overlaydiv'>
          <p class='pull-left'>Erin Ijesha</p>
          <p class='pull-right'>Price: #30,000 </p>
          <div class='row' style="text-align: center;">
            <div class='col-xs-12 col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs'>
               <button type="submit" style="background-color: transparent;border:2px solid #fff;" class="btn btn-sm">PROCEED TO BOOKING&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button>
            </div>
          </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    
                    
                </div></div>
             </div> 
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    
                    
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                      
                </div></div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row"><div class="container">
                    <!-- <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">We are creative</h3>
                        <h4 data-animation="animated bounceInUp">Get start your next awesome project</h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                    </div>  --> 
                </div></div>
            </div>
            
            <!-- End Item 4 -->
    
        </div>
      
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
        </div>
       </div> 
</div>       