<div id='nav'><app-topbar></app-topbar></div>
  <div class='container-fluid' style="margin-top:60px;">
    <!-- <ul class="breadcrumb" style='margin-top:50px;height: 100px'> -->
    <!-- <div class='overlay'>
      <div class='overlay-content' style="">
        <div>
          <p style="margin-left: 85%;margin-top: 20px;" (click)="Hidefilters()" ><i class='glyphicon glyphicon-remove-circle' style="font-size: 30px;"></i></p></div>
        <app-sidebar-for-small-device></app-sidebar-for-small-device>
      </div>
    </div> -->
    <div class="head well well-sm" style='background-color: #F1F3FA;padding: 0px 0px 0px 5px;'>

             <div style="border-bottom: 1px solid rgb(173, 173, 173);z-index:-7">
                <div class="row" style="margin-left: 10px;">
              <div class="btn-group btn-breadcrumb">
                <a href="#" class="btn">ADMIN</a>
                <a class="btn">TOUR CENTRE NAME</a>
                <a href="#" class="btn">BOOKED</a>
              </div>
              </div>
             </div>
          <!-- </ul> -->
          <div class='status' style="">
                <div class="btn-group">
                  <p href="#" class="btn showdata" style="">BOOKED(10)</p>
                  <p class="btn showdata" style="">CANCELLED(4)</p>
                </div>
             </div>
          </div>
  </div>
  <div class='topnav'>
    <a (click) = 'showBooked()'>BOOKED</a>
    <a (click) = 'showToured()'>TOURED</a>
    <a (click) = 'showCancelled()'>CANCELLED</a>
  </div> 
  <div class="discontainer container hidden-xs" style=''>
	  <div class="row"  [hidden]="hide_booked">
	  	<div class='col-lg-12 col-sm-12 col-md-12'>
	  		<div id="myTabContent" class="tab-content" [hidden]="hide_booked">
				  <div class="tab-pane fade active in" id="home">
                      <div class="row">
                 <div class='col-lg-11 col-lg-offset-1 col-md-3' style='padding-left: 0px;overflow-x: hidden;'>
			      <div class="box" style=''>
			      <div class="content" >
			        <div class="left">
			          <div class="thumbnail-wrapper">
			            <div class="thumbnail-overlay">
			              <div class="thumbnail-overlay-inner"><span><i class="fa fa-cloud jXSmKo" aria-hidden="true"></i>Lagos</span><span><i class="fa fa-thermometer-empty" aria-hidden="true"></i>MainLand</span></div>
			            </div>
			          </div>
			        </div>
			        <div class="right">
			          
			          
			          <table>
			            <tbody>
			              <tr>
			                <td>Booked for</td>
			                <td>Booked Date</td>
			              </tr>
			              <tr>
			                <td>
			                  6 people
			                </td>
			                <td>
			                	22nd Jan, 2017
			                </td>
			              </tr>
			            </tbody>
			          </table>
			          <!-- <p class="place-of-interest" style='margin-left: 5px;' >
			            Fun things to see in Havana
			          </p> -->
			          <div class="attractions-wrapper">
			            <div class="attractions-row">
			              <div class="attractions-tile" style="background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2))"></div>
			              <div class="attractions-details">
			                <div>2, Obafemi Awolowo way, Ikeja</div><span class="rating gxyFwO"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span><span><span class="tag">MUSEUM</span></span>
			              </div>
			            </div>
			          </div>
			          <!-- <div class='kk'>
			          <p><button type="submit" class="btn btn-primary">Book Now</button></p>
			          <p style="float:right"><button type="submit" class="btn btn-primary">Book Now</button></p></div> -->
			           <div class='lastrow'>
			          	<div class='text-left' style='margin-left:10px;padding:19px 10px 0px auto;margin-top:25px'>
			              <span style='color:#79a736;font-weight: 900;font-size:16px;margin-top:19px'>PAID: 30,000</span>
			            </div>
			            <div class='' style='margin-right:10px;margin-left: auto;padding:1px 3px 0px auto;float:right;margin-top:20px'>
			              <button class="btn btn-danger btn-sm">Cancel visit</button>
			            </div>
			          </div>
			          
			        </div>
			      </div>
                  </div>
			     </div> 
            </div>
				  </div>
	    </div>
	  	</div>
	  </div>
      	 
      <div class='row' [hidden]="hide_cancel">
         <div class="col-lg-12 col-sm-12 col-md-12">
         	<div id="myTabContent" class="tab-content">
				  <div class="tab-pane fade active in" id="home">
                      <div class="row">
                 <div class='col-lg-11 col-lg-offset-1 col-md-3' style='padding-left: 0px;overflow-x: hidden;'>
			      <div class="box" style=''>
			      <div class="content" >
			        <div class="left">
			          <div class="thumbnail-wrapper">
			            <div class="thumbnail-overlay">
			              <div class="thumbnail-overlay-inner"><span><i class="fa fa-cloud jXSmKo" aria-hidden="true"></i>Lagos</span><span><i class="fa fa-thermometer-empty" aria-hidden="true"></i>MainLand</span></div>
			            </div>
			          </div>
			        </div>
			        <div class="right">
			          
			          
			          <table>
			            <tbody>
			              <tr>
			                <td>Booked for</td>
			                <td>Cancelled Date</td>
			              </tr>
			              <tr>
			                <td>
			                  6 people
			                </td>
			                <td>
			                	22nd Jan, 2017
			                </td>
			              </tr>
			            </tbody>
			          </table>
			          <!-- <p class="place-of-interest" style='margin-left: 5px;' >
			            Fun things to see in Havana
			          </p> -->
			          <div class="attractions-wrapper">
			            <div class="attractions-row">
			              <div class="attractions-tile" style="background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2))"></div>
			              <div class="attractions-details">
			                <div>2, Obafemi Awolowo way, Ikeja</div><span class="rating gxyFwO"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span><span><span class="tag">MUSEUM</span></span>
			              </div>
			            </div>
			          </div>
			          <!-- <div class='kk'>
			          <p><button type="submit" class="btn btn-primary">Book Now</button></p>
			          <p style="float:right"><button type="submit" class="btn btn-primary">Book Now</button></p></div> -->
			           <div class='lastrow'>
			          	<div class='text-left' style='margin-left:10px;padding:19px 10px 0px auto;margin-top:25px'>
			              <span style='color:#79a736;font-weight: 900;font-size:16px;margin-top:19px'>MONEY(#30,000) REFUNDED</span>
			            </div>
			            <div class='' style='margin-right:10px;margin-left: auto;padding:1px 3px 0px auto;float:right;margin-top:20px'>
			              <p class="btn btn-warning btn-sm">Cancelled</p>
			            </div>
			          </div>
			          
			        </div>
			      </div>
                  </div>
			     </div> 
            </div>
				  </div>
	    </div>
         </div>
           
      </div>
      <div class='row' [hidden]="hide_toured">
         <div class='col-lg-12 col-sm-12 col-md-12'>
	  		<div id="myTabContent" class="tab-content">
				  <div class="tab-pane fade active in" id="home">
                      <div class="row">
                 <div class='col-lg-11 col-lg-offset-1 col-md-3' style='padding-left: 0px;overflow-x: hidden;'>
			      <div class="box" style=''>
			      <div class="content" >
			        <div class="left">
			          <div class="thumbnail-wrapper">
			            <div class="thumbnail-overlay">
			              <div class="thumbnail-overlay-inner"><span><i class="fa fa-cloud jXSmKo" aria-hidden="true"></i>Lagos</span><span><i class="fa fa-thermometer-empty" aria-hidden="true"></i>MainLand</span></div>
			            </div>
			          </div>
			        </div>
			        <div class="right">
			          
			          
			          <table>
			            <tbody>
			              <tr>
			                <td>Booked for</td>
			                <td>Toured Date</td>
			              </tr>
			              <tr>
			                <td>
			                  6 people
			                </td>
			                <td>
			                	22nd Jan, 2017
			                </td>
			              </tr>
			            </tbody>
			          </table>
			          <!-- <p class="place-of-interest" style='margin-left: 5px;' >
			            Fun things to see in Havana
			          </p> -->
			          <div class="attractions-wrapper">
			            <div class="attractions-row">
			              <div class="attractions-tile" style="background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2))"></div>
			              <div class="attractions-details">
			                <div>2, Obafemi Awolowo way, Ikeja</div><span class="rating gxyFwO"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span><span><span class="tag">MUSEUM</span></span>
			              </div>
			            </div>
			          </div>
			          <!-- <div class='kk'>
			          <p><button type="submit" class="btn btn-primary">Book Now</button></p>
			          <p style="float:right"><button type="submit" class="btn btn-primary">Book Now</button></p></div> -->
			           <div class='lastrow'>
			          	<div class='text-left' style='margin-left:10px;padding:19px 10px 0px auto;margin-top:25px'>
			              <span style='color:#79a736;font-weight: 900;font-size:16px;margin-top:19px'>PAID: 30,000</span>
			            </div>
			            <div class='' style='margin-right:10px;margin-left: auto;padding:1px 3px 0px auto;float:right;margin-top:20px'>
			              <p class="btn btn-success btn-sm">TOURED</p>
			            </div>
			          </div>
			          
			        </div>
			      </div>
                  </div>
			     </div> 
            </div>
				  </div>
	    </div>
	  	</div>
      </div>
  </div>   
<div class='container hidden-sm hidden-md hidden-lg'>
  	<div class="row" [hidden]="hide_booked">
  		<div class='col-sm-12'>
  		    <div class='eachhead'><span class='pull-left'>Lagos</span><span class='pull-right'>PRICE: #30,000</span></div>
  			<img src="../../assets/images/4.jpg" style="width:100%;height: 200px;">
  			<div class='boxit'>
  			<div style="color:#34495e"><h4>Erin Ijesha waterfall</h4></div>
            <div><p>Address........</p></div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Booked for:100 people</span>
             </div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Booked Date:1st Jan, 2017</span>
             </div>
             <div class='row'>
             	<div class='col-xs-12' style="text-align: center;margin-bottom: 7px;">
             		 <a href="#" class="btn btn-danger btn-sm " style="margin-top: 10px;">CANCEL</a>
             	</div>
             </div>
             </div>
  		</div>
  	</div>
  	<div class="row" [hidden]="hide_cancel">
  		<div class='col-sm-12'>
  		    <div class='eachhead'><span class='pull-left'>Lagos</span><span class='pull-right'>PAID: #30,000</span></div>
  			<img src="../../assets/images/4.jpg" style="width:100%;height: 200px;">
  			<div class='boxit'>
  			<div style="color:#34495e"><h4>Erin Ijesha waterfall</h4></div>
            <div><p>Address........</p></div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Booked for:100 people</span>
             </div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Cancelled Date:1st Jan, 2017</span>
             </div>
             <div class='row'>
             	<div class='col-xs-12' style="text-align: center;margin-bottom: 7px;">
             		 <a href="#" class="btn btn-warning btn-sm " style="margin-top: 10px;">CANCEL</a>
             	</div>
             </div>
             </div>
  		</div>
  	</div>
  	  	<div class="row" [hidden]="hide_toured">
  		<div class='col-sm-12'>
  		    <div class='eachhead'><span class='pull-left'>Lagos</span><span class='pull-right'>PAID: #30,000</span></div>
  			<img src="../../assets/images/4.jpg" style="width:100%;height: 200px;">
  			<div class='boxit'>
  			<div style="color:#34495e"><h4>Erin Ijesha waterfall</h4></div>
            <div><p>Address........</p></div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Booked for:100 people</span>
             </div>
             <div>
             <span class='pull-left' style="margin-left: 2px;">Toured Date:1st Jan, 2017</span>
             </div>
             <div class='row'>
             	<div class='col-xs-12' style="text-align: center;margin-bottom: 7px;">
             		 <a href="#" class="btn btn-success btn-sm " style="margin-top: 10px;">TOURED</a>
             	</div>
             </div>
             </div>
  		</div>
  	</div>
 </div>




  