@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
body {
  font-family: 'Nunito', sans-serif;
}
.overlay{
  position: absolute;
  top:50px;
  left:0px;
  background-color: rgba(0,0,0,0.3);
  z-index:123444444444;
  width:100%;
  height: auto;
  display: none;
}
.panel-heading{
  background-color: white;
}
.panel-title{
  color:black;
}
.head{
  margin-top: 0px;
}
.showdata{
  border-right: 1px solid rgb(173, 173, 173);
}
.topnav{
  background-color: #34495e;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top:-15px;
  color:white;
  margin-bottom: 7px;
}
.topnav a{
  float:left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.topnav p{
  float:left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover{
  background-color: #93c54b;
  color:white;
}
.topnav a.active{
  background-color: #93c54b;
  color:#fff;
}
.mainhead{
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 3px solid rgb(173, 173, 173);
  margin-bottom: 10px;
  text-align: center;
}
.subhead{
  font-size: 15px;
  color:#93c54b;
  display: inline-block;
}
.subhead p{
  margin-right: 25px;
  border-left: 3px solid #93c54b;
}
.round{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  text-align: center;
  margin-left:auto;margin-right: auto;
}
.sidebarcontainer{
   padding-left:20px;
}
.sidebarcontainer a{
  color:black;
  opacity: 0.6;
}

.icons{
  font-size: 40px;
  color:#fff;
  margin-top:32%;
  margin-right:auto;margin-left: auto;
}
.eachhead{
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  color:#fff;
  background-color: blue;
  opacity: 0.5;
}
.eachhead span{
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.viewsearch{
  position: relative;
  top:-20px;
  left: 0px;
  width: 100%;
  height: 0px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  z-index: 3;
}
.overlay-content{
  color:#fff;
  opacity: 1;
  z-index:4556;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
 /* background-color: #f9f9f9;*/
  width: 65%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*max-width: 660px;*/
  margin: 0 auto 1.2em 2em;
  height: 160px;
}
.boxit{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.14);
}
.box-header {
  width: 100%;
  color: white;
  background-color: #414EF9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;

}

.box-header h3 {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.box-header .header-item {
  margin: 0 1.2em;
  font-size: 16px;
}

.box-header .header-item span {
  margin-right: 1em;
  color: white;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  /*border-bottom: 1px solid #414EF9;*/
}
.lastrow div{
  display: inline-block;
}
.left {
  width: auto;
}
.right {
  width: auto;
}
.thumbnail-wrapper {
  background-size: cover;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  width: 250px;
  height: 160px;
  margin: 0;
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2)), url(../../assets/images/4.jpg);
}

.right {
  padding: 0 0em 0 0em;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  font-size: 14px;
}

.map {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0 0.6em 0;
}

table {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  /*border-bottom: 1px solid #e8e8e8;*/
  color: #999;
}

table tr {
  padding: 0.6em 1em 0.6em 1em;
}

table td {
  width: 33.3%;
  text-align: center;
}

table tr:nth-of-type(1) td {
  font-weight: 700;
}

.attractions-wrapper:last-child {
  margin-bottom: 0;
}

.attractions-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attractions-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0px;
}

.attractions-wrapper .attractions-row {
  margin-bottom: 6px;
}

.attractions-tile {
  width: 50px;
  height: 50px;
  background-size: cover !important;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  margin: 8px;
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2)), url("https://lh6.googleusercontent.com/-Jo_rtgNYd_E/WDoSMWkyQRI/AAAAAAAAB_g/tSk59gfIoTElMtPzEwnyh1WRCeLv00BzwCLIB/s1600-w400/");
}

.attractions-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.tag {
  border-radius: 3px;
  padding: 3px 6px;
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #999;
  fill: #999;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .6px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 1em;
}

.footer {
  padding: 1em 0;
}

i.fa-expand {
  font-size: 22px;
}

.origin {
  margin-right: 30px;
  font-weight: 700;
}

.map .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #414EF9;
}

.map .line {
  width: 80%;
  border: 2px solid #414EF9;
}

.destination {
  margin-left: 6px;
  font-weight: 700;
}

.thumbnail-overlay-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(65, 78, 249, 0.3);
}

.thumbnail-overlay-inner span:nth-child(1) {
  margin-left: 5px
}

.thumbnail-overlay-inner span:nth-child(2) {
  margin-right: 5px
}

.thumbnail-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vira-btn{
  border-color: #fff;
  color: black;
  background-color: #fff;
  border: 1px solid white;
}
.vira-btn:hover{
  background-color: transparent;
  color: #fff;
}




/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #F1F3FA;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn:hover{
    color: #93c54b;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 0px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
} 

.discontainer{
  width:70%;
}

@media (max-width: 767px){

}
@media (max-width: 767px){
  .works{
        margin-top: 20px;
}
body{
  padding: 0px 0px 0px 0px;
}
.discontainer{
  width:100%;
  /*padding: 0px 0px 0px 0px;*/
}
.promoBox{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-border-radius: 0px;
}
.promoBox h4 {
  font-size: 17px;
}
.topnav a {
  font-size: 13px;
  padding:4px 4px;
}
.showdata{
  border-right:none;
}
.imgdiv{
  width:19%;
}
.imgdiv img{
  width: 50px;
  height: 50px;
  border-radius: none;
}
.maintext h4{
  margin-top: 0px;
  font-size: 14px;
}
.head{
  margin-top:-20px;
  background-color: red;
}

}