<app-topbar></app-topbar>
<div class='container' style="margin-top: 7%;">
	<div class='row'>
		<div class='col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12'>
			<div class="alert alert-dismissible alert-success">
	          <strong style="font-size: 16px">BANK DETAILS!</strong> 
	          <div><strong style="font-size: 14px">ACCOUNT NAME:</strong> Ogunrinde Omotayo</div>
	          <div><strong style="font-size: 14px">ACCOUNT NUMBER:</strong> 0037529096</div>
	          <div><strong style="font-size: 14px">AMOUNT TO PAY:</strong> #{{amount}} for {{tourist}} Tourist</div>
	          <div style='text-align:center;margin-top:7px;'></div>
	</div>
		</div>
	</div>
</div>

	