<div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            </div>
</div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class='item'>
                	<div class='row'>
                    	 <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class='item'>
                	<div class="row">
                    	 <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                Beach</h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <h5 class="classprice-text-color">
                                                $199.99</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>