<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--footer-->
<footer class="footer1">
<div class="container">
          <div class='row' style="text-align: center;margin-bottom: 15px;">
                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                   <h3 class='jointext' style="color:#fff;">Join over 12,000 tourist attractions listed</h3>
                   <p class='toGetListed'><a href="" class='btn btn-success btn-sm'>Get listed</a></p>
                </div>
                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                   <h3 class='jointext' style="color:#fff;">Sign up to get update on hot deals</h3>
                   	<form class="form-inline">
					  <div class="form-group">
					    <input type="email" class="form-control input-sm" id="email" placeholder="email">
					  </div>
					  <button type="submit" class="btn btn-success btn-sm submit-btn">SUBMIT</button>
					</form>
                </div>
          </div>
<div class="row"><!-- row -->
            
                <div class="col-lg-3 col-md-3 col-sm-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">TRIPPLY</h1>
                                
                                <ul>
                                	<li><a><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Find attractions</a></li>
                                    <li><a><i class="fa fa-angle-double-right"></i>Partners</a></li>
                                    <li><a><i class="fa fa-angle-double-right"></i>How its work</a></li>
                                    <li><a routerLink='/privacy'><i class="fa fa-angle-double-right"></i>Privacy</a></li>
                                    <li><a routerLink='/terms'><i class="fa fa-angle-double-right"></i>Terms and Condition</a></li>
                                    
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3 col-sm-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">KEY ATTRACTION</h1>
                                
                                <ul>
 									<li><a  routerLink='/search'><i class="fa fa-angle-double-right"></i>Game reserve</a></li>
                                    <li><a  routerLink='/search'><i class="fa fa-angle-double-right"></i>Beach</a></li>
                                    <li><a  routerLink='/search'><i class="fa fa-angle-double-right"></i>Waterfall</a></li>
                                    <li><a  routerLink='/search'><i class="fa fa-angle-double-right"></i>Mountains and Hills</a></li>
                                    
                                    
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-3 col-md-3 col-sm-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">KEY CITIES</h1>
                                
                                <ul>


                <li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Lagos</a></li>
 				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Abuja</a></li>
				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Osun</a></li>
				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i> Centres in Ogun</a></li>
				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Abia</a></li>
				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i> Centres in Ondo</a></li>
                <li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Oyo</a></li>
				<li><a routerLink='/search'><i class="fa fa-angle-double-right"></i>Centres in Benin</a></li>

                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3 col-sm-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Us </h1>
                                
                                <div class="footerp"> 
                                
                                <h2 class="title-median">Address...</h2>
                                <p><b>Email id:</b> <a href="mailto:tripply@tripply.com">tripply@tripply.com</a></p>
                                <p>Helpline Numbers 

    <b style="color:#ffc106;">(8AM to 10PM):</b>  +91-8130890090, +91-8130190010  </p>
    
<!--     <p style="color:#fff;">Corp Office / Postal Address</p>
 -->    <p style="color:#fff;">Phone Numbers : 07042827160, </p>
    <p style="color:#fff;"> 07027568832, 07068387223</p>
                                </div>
                                
                                <div class="social-icons">
                                
                                	<ul class="nomargin">
                                    
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                    
                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright">

					© 2017, Tripply, All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<!-- <div class="design">

					 <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>

				</div> -->

			</div>

		</div>

	</div>

</div>