<div id='nav' style=''><app-topbar></app-topbar></div>
<div class="container-fluid top">
  <!--  <div class='loading' [hidden]='hideloading'>
   	   <app-spinner></app-spinner>
   </div> -->
   <div class="head well well-sm" style='margin-top:0px;background-color: #F1F3FA;padding: 0px 0px 0px 0px;'>
      <div style="margin-bottom: 5px;">
                <div class="row" style="margin-left: 10px;">
                  <div class="btn-group btn-breadcrumb">
                    <a href="#" class="btn">VIEW</a>
                    <a href="#" class="btn">KEY VIEWS</a>
                    <a href="#" class="btn">RESULTS</a>
                  </div>
                </div>
      </div>
   </div>
</div>
<div class='container'>
       <div class='row' [hidden]='hidemessage'>
    	<div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
    		<div class="alert alert-dismissible alert-warning">
		  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
		  <h4>Alert!</h4>
		  <p>{{valRes}}</p>
           </div>
    	</div>
    </div>
    <div class='row' [hidden]='hidesuccess'>
    	<div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
    		<div class="alert alert-dismissible alert-success">
		  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
		  <h4>Success!</h4>
		  <p>{{successmsg}}</p>
           </div>
    	</div>
    </div>
	<div class='row'>
	  <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1">
		<div class="middlePage">
			<div class="page-header" style="margin-top: -12px;">
			  <h4 class="logo">Personal Information <small>Please fill this form</small></h4>
			</div>

		 <div class="panel panel-info">
		    <div class="panel-heading">
				<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">1</button>Your Information</h3>
			</div>
			<div class="panel-body">	  
				<div class="row"> 
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" >
							<form class="form-horizontal">
								
							</form>
							<!-- <div class='row'>
								<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
									 <label for="Name" class='labelName'>First Name</label>
									 <input type="text" [(ngModel)] ='firstname' name='firstname' class="form-control input-sm" id="" placeholder="">
								</div>
								<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
									 <label for="Name" class='labelName'>LastName</label>
									 <input type="text" name='lastname' [(ngModel)] = 'lastname' class="form-control input-sm" id="" placeholder="">
								</div>
							</div> -->
							<!-- <div class='row' style="margin-top: 12px;">
								<div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
									 <label for="Name" class='labelName'>Phone</label>
									 <input type="text" name='phone' [(ngModel)] = 'phone' class="form-control input-sm" id="" placeholder="">
								</div>
								
							</div> -->
							<div class='row' style="margin-top: 12px;">
							    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
									 <label for="Name" class='labelName'>Email</label>
									 <input type="email" [(ngModel)] = 'email' name='email' class="form-control input-sm" id="" placeholder="">
								</div>
								<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
									 <label for="Name" class='labelName'>Confirm Email</label>
									 <input type="email" name='cfemail' [(ngModel)] = 'cfemail' class="form-control input-sm" id="" placeholder="">
								</div>
							</div>
					</div>
					<!-- <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="border-left:1px solid #ccc;height:auto">
					    <p>Retrieve your Information from </p>
						<button type="button" class="btn btn-primary btn-sm btn-block">Facebook</button>
						<p style="font-size: 18px;text-align: center;margin-top: 20px;margin-bottom: 20px;">OR</p>
						<button type="button" style="background-color: #2980b9" class="btn btn-primary btn-sm btn-block">Twitter</button>
						<p style="font-size: 18px;text-align: center;margin-top: 20px;margin-bottom: 20px;">OR</p>
						<button type="button" class="btn btn-warning btn-sm btn-block">Google +</button>
					</div> -->
				</div>   
			  </div>
		 </div>
	    </div>
	    <div class="middlePage">

		 <div class="panel panel-info">
		    <div class="panel-heading">
				<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">2</button>Booking Details</h3>
			</div>
		  <div class="panel-body">
		    <div class='row'>
               <div class='col-lg-6'>
				 <label for="Name" class='labelName'>Tour Date</label>
				  <input type="date" name='tour_date' [(ngModel)] ='tour_date' class="form-control input-sm" id="">
				</div>
				<div class='col-lg-6'>
					<label for="Name"  class='labelName'>Visiting tourist</label><input type="number" [(ngModel)] = 'tourist' #box (keyup)="onKey(box.value)" name='tourist' class="form-control input-sm" id="">
				</div>
			</div> 
		  </div>
		 </div>
	    </div>
	    <div class="middlePage">

		 <div class="panel panel-info">
		    <div class="panel-heading">
				<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">3</button> Payment(Total Price: &#8358;{{totalPrice}} )</h3>
			</div>
		  <div class="panel-body">
		    <div class='row'>
	    	<div class='col-sm-12 col-xs-12 col-lg-12' style="float:left;margin-left: 7px;margin-bottom: 12px;">
	    	<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> 
			  <a routerLink='/terms' style="color:black;font-size: 14px;"><i class="fa fa-angle-double-right"></i>Terms and Condition</a>
			</label>
	    </div>
	    </div>
		    <div class='row'>
		    	<div class='col-lg-6'>
		    		<button (click) = 'viaAtm()' [hidden] = 'atmbtn' [disabled] = "viatm" type="button" class="btn btn-primary btn-sm btn-block"><i *ngIf = "viatm" class='fa fa-spinner' style="color:#fff;font-size:18px;"></i>VIA ATM</button>
		    	</div>
		    	<div class='col-lg-6 paybtn'>
		    		<button type="button" [hidden] = 'depbtn' [disabled] = "to" class="btn btn-info btn-sm btn-block" (click) = 'bankdep()'><i *ngIf = "to" class='fa fa-spinner' style="color:#fff;font-size:18px;"></i>BANK DEPOSIT</button>
		    	</div>
		    </div>	    
		  </div>
		 </div>
	    </div>
	  </div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bksummary" style="">
			<div class="middlePage">
			 <div class="panel panel-info">
			    <div class="panel-heading header">
					<h3 class="panel-title title-sum">BOOKING SUMMARY</h3>
				</div>
			  <div class="panel-body" style="padding:0px 0px 0px 0px;">	
			    <div style="padding:0px 0px 0px 0px;">
			    	<img src="../../assets/images/{{image}}" class="img-responsive center-block" style="height: 200px;width:100%;">
			    </div>  
				<div class="row" style="margin-top: 7px;"> 
						   <div class='col-lg-12'>
						   	 <h6 style="padding:2px 2px auto 2px;margin-left: 5px;">{{address}}</h6>
						   </div>
				</div>
	               <div class='row' style="text-align: center;margin-top: 20px;">
	                  <div class='col-lg-12' style="text-align: center;">
                         <h4>PAY:&#8358;{{totalPrice}}</h4>
	                  </div>
	                </div>
			  </div>
			 </div>
	        </div>
		</div>
	</div>
</div>
<!-- <button type="button" class="btn btn-info btn-sm btn-block" (click) = 'route()'>BANK DEPOSIT</button> -->