    <div id='main'>
      <app-topbar></app-topbar>
      
      <div class="main">
        <div class='container-fluid' style="margin-top:65px;">
           
        </div>
        <header class=" header">
            <div class="container">
            </div>
            <div class='container'>
                <p class='firsttext' style='text-align: center;'>Want to have fun and rest?</p><p class='secondtext' style=''>search and book attractions in Nigeria</p>
            </div>
            <div class="container-fluid">
                <div class="row searchbar" style=''>
                  <div class="">
                    <div class="col-sm-12">
                      <form class="form-inline">
                       <div class="form-group">
                         <label class="sr-only" for="exampleInputEmail3">Location</label>
                         <select [(ngModel)] = 'location' name='location' class="form-control" style="">
                            <option value=''>Location</option>
                            <option value='Lagos'>Lagos</option>
                            <option value='Abia'>Abia</option> 
                            <option value='Abuja'>Abuja</option>
                            <option value='Adamawa'>Adamawa</option>
                            <option value='Akwa Ibom'>Akwa Ibom</option>
                            <option value='Bauchi'>Bauchi</option>
                            <option value='Bayelsa'>Bayelsa</option>
                            <option value='Benue'>Benue</option>
                            <option value='Borno'>Borno</option>
                            <option value='Cross River'>Cross River</option>
                            <option value='Delta'>Delta</option>
                            <option value='Ebonyi'>Ebonyi</option>
                            <option value='Enugu'>Enugu</option>
                            <option value='Edo'>Edo</option> 
                            <option value='Ekiti'>Ekiti</option>
                            <option value='Gombe'>Gombe</option>
                            <option value='Imo'>Imo</option>
                            <option value='Jigawa'>Jigawa</option>
                            <option value='Kaduna'>Kaduna</option>
                            <option value='Kano'>Kano</option>
                            <option value='Katsina'>Katsina</option>
                            <option value='Kebbi'>Kebbi</option>
                            <option value='Kogi'>Kogi</option>
                            <option value='Ebonyi'>Kwara</option>
                            <option value='Nasarawa'>Nasarawa</option>
                            <option value='Niger'>Niger</option> 
                            <option value='Ogun'>Ogun</option>
                            <option value='Ondo'>Ondo</option>
                            <option value='Osun'>Osun</option>
                            <option value='Oyo'>Oyo</option>
                            <option value='Plateau'>Plateau</option>
                            <option value='Rivers'>Rivers</option>
                            <option value='Sokoto'>Sokoto</option>
                            <option value='Taraba'>Taraba</option>
                            <option value='Yobe'>Yobe</option>
                            <option value='Zamfara'>Zamfara</option>
                        </select>
                        <select name='category' [(ngModel)] = 'category' class="form-control">
                          <option value=''>Category</option>
                          <option value = 'Waterfall'>Waterfall</option>
                          <option value='Beach'>Beach</option>
                          <option value= 'Game Reserve'>Game Reserve</option>
                          <option value='Mountains and Hills'>Mountains and Hills</option>
                          <option value='Resort'>Resort</option>
                      </select>
                      <select name='max_price' [(ngModel)] = 'max_price' class="form-control">
                        <option value='0'>Max Price(in &#8358;)</option>
                        <option value='2000'>500</option>
                        <option value='2000'>1000</option>
                        <option value='2000'>2000</option>
                        <option value='2000'>2500</option>
                        <option value='2000'>3000</option>
                    </select>
                </div>
                <div class="form-group">
                 <a class="btn vira-btn btn-sm" (click) = "search()">SEARCH</a>
             </div>  
         </form>
     </div>
 </div>
</div>
</div>
</header>
<section id="about" class="about section" style="margin-top:-40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2 class="title">TODAY'S HOT DEALS</h2>                           
            </div>
        </div>
    </div>
    <div>
        <app-deals></app-deals>
    </div>
</section>
<section id="about" class="about section" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2 class="title">TOP DESTINATIONS</h2>                           
            </div>
        </div>
    </div>
    <div>
     <app-top-destination></app-top-destination>
 </div>
</section>
<section id="about" class="about section" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2 class="title">KEY ATTRACTIONS</h2>                           
            </div>
        </div>
    </div>
    <div>
      <app-popular-places></app-popular-places>
  </div>
</section>
<section id="works" class="about section" style="margin-top:-150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2 class="title">HOW IT WORKS</h2>                           
            </div>
        </div>
    </div>
    <div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 works'>
                    <p class='round' style="background-color: #93c54b;"><i class='glyphicon glyphicon-search'></i></p>
                    
                    <p>Search for tourist Centre</p>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 works'>
                    <p class='round' style="background-color: #3e3f3a;"><i class='glyphicon glyphicon-edit'></i></p>
                    <p>Book a place, you will like to visit</p>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 works'>
                    <p class='round' style="background-color: #34495e;"><i class='glyphicon glyphicon-transfer'></i></p>
                    <p>Pay for booked centre seamlessly</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>

           <!--  <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">Contact</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-map-o" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Address</h3>
                                    <p>
                                        Level 5, 25 pitt st, US
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Phone</h3>
                                    <p>07031184415; 07031184415; 07031184415</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                        <span class="fa fa-paper-plane" aria-hidden="true"></span>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Email</h3>
                                    <p>
                                        tripply@tripply.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                                <ul>
                                    <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                                    <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                                    <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <footer class="">
                <app-footer></app-footer>
            </footer>
        </div>

        
    </div>
    