/*@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';*/
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
/*Global Settings*/
#main{
	/*font-family: 'Lora', serif;*/
	font-family: Roboto Condensed, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	/*Roboto Condensed, sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
    font-family: Roboto Condensed, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #424242;

	margin-bottom: 35px;
	margin-top: 0;
}
.round{
	width: 90px;
	height: 90px;
	border-radius: 45px;
	text-align: center;
	margin-left:auto;margin-right: auto;
}
.searchbar{
	margin-top: -30px;
	text-align: center;
}
.firsttext{
	margin-top: 80px;
}
 .header .secondtext{
	text-align: center;margin-top: -60px;font-size:16px; 
}
.glyphicon{
	font-size: 40px;
	color:#fff;
	margin-top:32%;
	margin-right:auto;margin-left: auto;
}
.jointext{
	font-size: 20px;
}
.toGetListed a{
	font-size: 20px;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 21px;
}
p{
	font-size: 16px;
	/*font-style: italic;*/
	color: #818181;
	font-family: Roboto Condensed, sans-serif;
}
a{
	transition: all 0.3s ease-in-out;
}
section{
	text-align: center;
}
.blockquote p{
	font-size: 32px;
	line-height: 45px;
	padding-left: 30px;
	border-left: 3px solid #424242;
	color: #424242;
}

.title{
	position: relative;
	margin-bottom: 50px;
	color:#ccc;

}
.title:after{
	content: '';
	height: 5px;
	width: 40px;
	background-color: #93c54b;
	position: absolute;
	top: 41px;
	left: 4;
}



/*Bootstrap*/
.navbar-vira{
	background-image: none;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
	border-color: transparent;
	transition: all 0.3s ease-in-out;
}
.form-control option{
	color: black;
}
.form-control{
	border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: black;
    margin-bottom: 30px;
	border-color: #51c2b9;
	width: 250px;
}
.form-control:focus{
	border-color: #51c2b9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81, 194, 185, 0.6);
}
.form-control:-webkit-input-text {
    color: red;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}
.form-control:-ms-input-placeholder {  
    color: #fff;  
}

.element .form-control::-webkit-input-placeholder {
    color: #424242;
}
.element .form-control:-moz-placeholder { /* Firefox 18- */
    color: #424242;  
}
.element .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #424242;  
}
.element .form-control:-ms-input-placeholder {  
    color: #424242;  
}




/*Helper class*/
.mt80{
	margin-top: 80px;
}
.mb80{
	margin-bottom: 80px;
}
.mr60{
	margin-right: 60px;
}
.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.bg-img div{
	z-index: 1;
	position: relative;
}
.bg-img:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
}
.section{
	padding: 100px 0;
}

/*Vira Card*/
.vira-card{
	text-align: center;
	/*margin-bottom: 45px;*/
}
.vira-card .vira-card-header{
	margin-bottom: 45px;
}
.vira-card .vira-card-header .card-icon{
	border: 1px solid #51c2b9;
	border-radius: 100%;
	display: inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	position: relative;
}
.vira-card .vira-card-header .card-icon .fa{
	margin-top: 45px;
	font-size: 30px;
}
.vira-card .vira-card-header .card-icon:after{
	content: '';
	height: 100px;
	width: 100px;
	background-color: #51c2b9;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 9px;
}
.vira-card .vira-card-header .card-icon span{
	color: #fff;
	font-size: 45px;
	position: relative;
	z-index: 1;
}
.vira-card .vira-card-content h3{
	position: relative;
	margin-bottom: 60px
}
.vira-card .vira-card-content h3:after{
	content: '';
	height: 1px;
	width: 44px;
	background-color: #62aa94;
	position: absolute;
	top: 52px;
	left: calc(50% - 22px);
}
.vira-card .vira-card-content p{
	font-size: 15px;
}
.vira-card .vira-card-content .social-icons{
	margin-top: 30px;
}

/*Button*/
.vira-btn{
	border-color: #51c2b9;
	color: #51c2b9;
	border-radius: 4px;
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	background-color: #93c54b;
	transition: all 0.3s ease-in-out;
}
.vira-btn:hover{
	background-color: #51c2b9;
	color: #fff;
}
.solid{
	background-color: #51c2b9;
	color: #fff;
}
.solid:hover{
	background-color: #fff;
	color: #51c2b9;
}
.small-btn{
	padding: 10px 130px;
}



/*Element page*/
.element .navigation-bar{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.element .navigation-bar a{
	color: #424242;
}
.element .dark-bar{
	background-color: #fff;
}
.element .menu:after{
	color: #424242;
}
.element .title:after{
	left: 0;
	top: 60px;
}
.headings p{
	margin-bottom: 80px;
}
.social-icons ul{
	text-align: center;
	padding-left: 0;
	display: inline-block;
}
.social-icons ul a li{
	display: inline-block;
	list-style-type: none;
    border: 2px solid #51c2b9;
    margin-right: 10px;
    background-color: #51c2b9;
    color: #fff;
	font-size: 18px;
    line-height: 32px;
    width: 36px;
}
.social-icons ul a li:last-child{
	margin-right: 0;
}
.social-icons ul a:hover li{
	color: #51c2b9;
	background-color: #fff;
}








/*Navigation*/
#menu-item{
	transition: all 0.3s ease-in-out;
}
.menu-item{
	background-color: #1a1a1a;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}
.menu-item ul{
	padding-left: 0;
	margin-bottom: 0;
}
.menu-item ul a li{
	padding: 15px 0;
	list-style-type: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-item ul a:hover li{
	color: #51c2b9;
	text-decoration: none;
}
.hide-menu{
	margin-top: -377px;
}
.show-menu{
	margin-top: 0;
}
.dark-bar{
	background-color: #424242;
	background-image: none;
}
.navigation-bar{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 15px 0;
	font-size: 30px;
}
.navigation-bar a{
	color: #fff;
}
.menu{
	position: relative;
	display: inline-block;
}

.menu:after{
	position: absolute;
	left: -65px;
	top: 10px;
	color: #fff;
	font-size: 16px;
}
.m:after{
	content: 'MENU';
}
.c:after{
	content: 'CLOSE';
}


/*Home page*/
.header{
	margin-top: 0px;
	background-image: url(../../assets/images/header.jpg);
	height: 300px;
	position: relative;
	min-height: 100px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.intro-box{
	height: 60vh;
	display: table;
	text-align: center;
	width: 100%;
}
.intro{
	display: table-cell;
	vertical-align: middle;
}
.header h1{
	margin: 0;
}
.header h1, .header p{
	color: #fff;
	letter-spacing: 2px;
}
.header p{
	font-size: 32px;
	padding-top: 0;
	padding-bottom: 40px;
}

.header .vira-btn{
	border-color: #fff;
	color: #fff;
	background-color: #93c54b;
	font-size: 14px;
}
.header .vira-btn:hover{
	background-color: transparent;
	color: #fff;
}

.about{
	background-color: #f8f8f8;
}
.about img{
	margin: 30px auto;
	display: block;
}
.about span{
	font-family: 'Raleway';
	font-weight: 600;
}

.expert{
	background-color: #f8f8f8;
}
.expert p{
	line-height: 200%;
}
.expert .bg-img{
	background-image: url(../../assets/images/2.jpg);
	background-position-x: 85%;
	height: 100%;
}
.expert .bg-img:after{
	display: none;
}
.expert .section{
	padding-left: 30px;
	padding-right: 30px;
}


.vira-quote{
	background-image: url(../../assets/images/3.jpg);
	/*padding: 120px 0;*/
	color: #fff;
W	font-style: italic;
}
.vira-quote p{
	font-size: 32px;
	color: #fff;
}
.vira-quote .quote{
	margin-bottom: 40px;
}
.vira-quote .author{
	font-size: 21px;
	margin-bottom: 40px;
}
.watch{
	background-image: url(../../assets/images/7.jpg);
	font-style: italic;
	font-size: 32px;
	color: #fff;
	padding: 150px 0;
}
.watch a{
	border: 2px solid #fff;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 70px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	padding: 0;
	font-size: 21px;
	color: #fff;
}
.watch a:hover, .watch a:active, .watch a:focus{
	background-color: #fff;
	color: #424242;
}

.subscribe{
	background-image: url(../../assets/images/header.jpg);
}
.subscribe .vira-btn{
	margin-bottom: 0;
	color: #424242;
	font-weight: 700;
	border-color: #fff;
	background-color: #fff;
}
.subscribe .vira-btn:hover{
	background-color: transparent;
	color: #fff;
}
.subscribe p{
	color: #fff;
	font-size: 32px;
	margin-bottom: 35px;
}
.subscribe .form-control{
    width: 320px;
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;
}

.contact .vira-card{
	background-color: #f8f8f8;
	padding: 35px 0;
	transition: all 0.3s ease-in-out;
	margin-bottom: 45px;
}
/*.contact .vira-card:hover{
	box-shadow: 0px 4px 2px rgba(17, 17, 17, 0.3);
}*/
.contact .vira-card .vira-card-header{
	margin-bottom: 15px;
	font-size: 21px;
	color: #51c2b9;
}
.contact .vira-card .vira-card-content h3{
	letter-spacing: 2px;
	margin-bottom: 45px;
}
.contact .vira-card .vira-card-content h3:after{
	top: 40px;
}
.contact .vira-card .vira-card-content p{
	font-size: 18px;
}
.footer{
	background-color: #202020;
	text-align: center;
	padding: 60px 0;
}
.footer span{
	color: #51c2b9;
}
.footer p{
	font-size: 21px;
	color: #fff;
	margin-bottom: 0;
}
.footer a{
	color: #fff;
}




/*animations*/
.vira-card .vira-card-header .card-icon:after{
	transition: all 0.3s ease-in-out;
}
.vira-card:hover .vira-card-header .card-icon:after{
	height: 120px;
	width: 120px;
	top: -1px;
	left: -1px;
}
.owl-theme .owl-dots .owl-dot span{
	background-color: #51c2b9;
	margin: 5px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #51c2b9;
	height: 14px;
	width: 14px;
	margin: 3px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	body{
		background-color: red;
	}
    ::i-block-chrome, .header {
     height: 320px;
    }
    ::i-block-chrome, .header .form-control {
     height:150px;
     background-color: red;
     height:250px;
     padding: 50px 50px 50px 50px;
    }
}


@media (max-width: 900px){
   .container-fluid{
   	 width:100%;
   	  padding: 0px;
   }	
   .row{
   	  width: 100%;
   }	
   .form-inline{
   	  width:100%;
   }
   .form-control{
   	width: 32%;
   }
}
@media (max-width: 767px){
	.vira-card{
		margin-bottom: 60px;
	}
	.title{
		font-size: 18px;
		margin-bottom: 80px;
	}
	.title:after{
	content: '';
	height: 5px;
	width: 40px;
	background-color: #62aa94;
	position: absolute;
	top: 31px;
	left: calc(50% - 20px);
   }
   .works{
        margin-top: 20px;
    }
    .header{
	height: 60%;
	min-height: 100px;
	margin-top:-20px;
    }
    .header p{
	font-size: 20px;
	padding-top: 0;
	padding-bottom: 20px;
    }
    .vira-btn{
		border-radius: 0;
		letter-spacing: 3px;
		padding: 5px 7px;
		margin-bottom: 10px;
		background-color: #93c54b;
		transition: all 0.3s ease-in-out;
		width:33%;
		font-size: 14px;
    }
    .header .firsttext{
    	margin-top:20%;
    	font-size: 20px;
    }
    .header .secondtext{
	  text-align: center;margin-top: -30px;font-size:15px; 
   }
   .searchbar {
   	 margin-top: 20px;text-align: center;
   }
   .form-inline{
   	width:100%;
   	float: left;
   	display: inline;
   	margin-left:1%;
   }
   .form-control{
   	float: left;
     width: 33%;
   }

}
@media (max-width: 500px){
   .form-control{
     width: 100%;
     text-align: center;
   }
}