@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
li a{
	color:black;
	font-size:14px;
  background-color: #fff;
	/*margin-left:10px;*/
	/*font-weight: 800;*/
	
}
.navbar-brand img {
  width:auto;
  height:40px;
  margin-top:-3px;
  margin-left: -50px;
}
li a:hover{
	/*height: 50px;*/
	background-color: #fff;
  color:black;
}
li a:active{
	height: 50px;
  color:black;
}
.navbar{
	height: 50px;
	font-family: Roboto Condensed, sans-serif;
  background-color: #fff;
  color:black;
  border-bottom: none;
  box-shadow: 0 2px 1px 0 rgba #fff, 0 1px 5px 0 #fff, 0 3px 1px -2px #fff;

}
.navbar-brand{
/*	font-size:30px;
	font-style: italic;
	margin-left: 40px;*/
}
/*ul li a{
  display: block;
  color:black;
  text-align: center;
  padding:12px 0px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
ul li a:hover{
  background-color: black;
}

.top-for-small{
  background-color: #2e353d;
}
.topnav{
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:0px;
  color:white;
  margin-bottom: 0px;
  width: 100%;
}
.topnav .toright{
  float:right;
  display: block;
  color:black;
  text-align: center;
  padding:12px 10px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
.topnav .toleft{
  float:left;
  color:#f2f2f2;
  text-decoration: none;
  cursor: pointer;
  margin-top:-5px;
}
.topnav p{
  float:left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover{
  background-color: #93c54b;
}


.topnav a.active{
  background-color: #93c54b;
}
.topnav  a:hover{
  background-color:white;
}
.topnav .showdropdown a.active{
  background-color:white;
}*/
@media screen and (max-width: 767px){
 .navbar-brand img{
  width:auto;
  height:40px;
  margin-top:-3px;
  margin-left: 0px;
}

}