  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a routerLink='/' class="navbar-brand"><img src="../../assets/images/logt.png"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main" >
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
           
            <li><a *ngIf = "!authService.loggedIn()" routerLink='/login'>LOG IN</a></li>
            <li><a routerLink='/add_attraction'>ADD ATTRACTION</a></li>
            <li *ngIf = "authService.loggedIn()" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MY ACCOUNT<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a routerLink='/adminpage'>View account</a></li>
                <li><a routerLink='/' (click) = 'logOut()'>Sign Out</a></li>
              </ul>
            </li>
            <li><a href="#works">HOW IT WORKS</a></li>
             <li><a routerLink='/user'>ABOUT US</a></li>

          </ul>

        </div>
      </div>
    </div>