<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                          <div class="thumbnail">
                            <img class="img-responsive" src="../../assets/images/house.jpg">
                          </div>
                        </li>
                        <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                        <div class="thumbnail">
                            <img class="img-responsive" src="../../assets/images/header2.jpg">
                          </div>
                        </li>
                        <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="../../assets/images/slider3.jpg">
                          </div>
                        </li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item slides active">
                          <div class="slide-1"></div>
                          <div class="container">
                            <div class="carousel-caption leadtext">
                              <p class='lead'>New carousel layout</p>
                              <p>Responsive thumbnail preview in carousel indicators.</p>
                              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
                            </div>
                          </div>
                        </div>
                        <div class="item slides">
                          <div class="slide-2"></div>
                          <div class="container">
                            <div class="carousel-caption leadtext">
                              <h1 class=''>Another example headline.</h1>
                              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
                            </div>
                          </div>
                        </div>
                        <div class="item slides">
                          <div class="slide-3"></div>
                          <div class="container">
                            <div class="carousel-caption leadtext">
                              <h1 class='leadtext'>One more for good measure.</h1>
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                  <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div> 
