<div class="row">
		<section class="content">
			<div class="col-lg-12 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
							    <button type="button" class="btn btn-success btn-filter" data-target="pagado">Book Now</button>
								<button type="button" class="btn btn-primary btn-filter" data-target="pagado">Like</button>
								<button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Dislike</button>
								<button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Add Comment</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Rate</button>
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr data-status="pagado">
										<td>
											<div class="ckbox">
												<input type="checkbox" id="checkbox1">
												<label for="checkbox1"></label>
											</div>
										</td>
										<td>
											<!-- <a href="javascript:;" class="star">
												<i class="glyphicon glyphicon-star"></i>
											</a> -->
										</td>
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
												</a>
												<div class="">
													<span class="media-meta pull-right">February 13, 2016</span>
													<h4 class="title">
														Tolulope Philip
														<span class="pull-right pagado">
															<a href="javascript:;" class="star">
												              <i class="glyphicon glyphicon-star" style="color: gold"></i>
												              <i class="glyphicon glyphicon-star" style="color: gold"></i>
												              <i class="glyphicon glyphicon-star" style="color: gold"></i>
												              <i class="glyphicon glyphicon-star" style="color: gold"></i>
											                </a>
														</span>
													</h4>
													<p class="summary">It was really fun at Ijesha waterfall...</p>
												</div>
											</div>
										</td>
									</tr>
									<tr data-status="pendiente">
										<td>
											<div class="ckbox">
												<input type="checkbox" id="checkbox3">
												<label for="checkbox3"></label>
											</div>
										</td>
										<td>
											<!-- <a href="javascript:;" class="star">
												<i class="glyphicon glyphicon-star"></i>
											</a> -->
										</td>
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
												</a>
												<div class="">
													<span class="media-meta pull-right">February 13, 2016</span>
													<h4 class="title">
														Ogunrinde Omotayo
														<span class="pull-right pendiente"></span>
													</h4>
													<p class="summary">It is a day i will never forget....</p>
												</div>
											</div>
										</td>
									</tr>
									<tr data-status="cancelado">
										<td>
											<div class="ckbox">
												<input type="checkbox" id="checkbox2">
												<label for="checkbox2"></label>
											</div>
										</td>
										<td>
											<!-- <a href="javascript:;" class="star">
												<i class="glyphicon glyphicon-star"></i>
											</a> -->
										</td>
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
												</a>
												<div class="">
													<span class="media-meta pull-right">February 13, 2016</span>
													<h4 class="title">
														Bola Gate
														<span class="pull-right cancelado"></span>
													</h4>
													<p class="summary">Am almost tempted to re-visit this place</p>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		
</div>