
                <div class="board hidden-xs">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active">
                     <a href="#home" data-toggle="tab" title="Tourist Centre Information">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-info-sign"></i>
                      </span> 
                  </a></li>

                  <li><a href="#profile" data-toggle="tab" title="Facilities">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-tags"></i>
                     </span> 
                     </a>
                 </li>
                 <li><a href="#messages" data-toggle="tab" title="Location on Map">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-map-marker"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings" data-toggle="tab" title="Driving Instruction">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-road"></i>
                         </span> 
                     </a></li>

                     <li><a href="#doner" data-toggle="tab" title="comments">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span> </a>
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home"> 
                        {{attraction.AttractionInformation}}
                      </div>
                      <div class="tab-pane fade" id="profile">
                         <div class="row" style="">
                           <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 listsmall' *ngFor = 'let fac of attraction.Facilites'>        
                              <div  style="background-color: #f1f3fA;text-align: center;padding:2px 0px 2px 0px;">
                                <span style="padding:4px 0px 4px 0px;">
                                  {{fac}}
                                </span>
                              </div>          
                            </div>

                           </div>  
                      </div>
                      <div class="tab-pane fade" id="messages">
                         Map
                      </div>
                      <div class="tab-pane fade" id="settings">
                        {{attraction.drivingInstruction}}
                      </div>
  <div class="tab-pane fade" id="doner">
      <div class="text-center">
        <i class="img-intro icon-checkmark-circle"></i>
      </div>
      <div class="well well-sm" style="background-color: #F1F3FA" *ngFor = 'let comments of attraction.comments'>
         {{comments}}
     </div>
      <div class="row" style="">
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
              <input type="text" [(ngModel)] = 'say' name='say' #box (keyup.enter) = "enter(box.value)" class="form-control" placeholder="Say something.....">
            </div>
      </div>  
  </div>
  <div class="clearfix"></div>
</div>
</div>
<div class='col-sm-12 visible-xs accordion-container' style="margin-top: 20px;">
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        CENTRE INFORMATION
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{attraction.AttractionInformation}}  
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        FACILITIES
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row" style="">
                           <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 listsmall' *ngFor = 'let fac of attraction.Facilites'>        
                              <div  style="background-color: #f1f3fA;text-align: center;padding:2px 0px 2px 0px;">
                                <span style="padding:4px 0px 4px 0px;">
                                  {{fac}}
                                </span>
                              </div>          
                            </div>

                    </div>  
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        LOCATION ON MAP
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                   Map
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        DRIVING INSTRUCTION
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {{attraction.drivingInstruction}}
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
</div>