                    <div class='row' style="margin-top: 20px;">
                     <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-success btn-filter" data-target="pagado">TRIPPLY</button>
                                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">TOURIST</button>
                              </div>
                            </div>
                            <div class="table-container">
                              <table class="table table-filter">
                                <tbody>
                                  <tr data-status="pagado">
         
                                    <td>
                                      <div class="media">
                                        <a href="#" class="pull-left">
                                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                        </a>
                                        <div class="">
                                          <h4 class="title">
                                            Lorem Impsum
                                          </h4>
                                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr data-status="pendiente">
                                    <td>
                                      <div class="media">
                                        <a href="#" class="pull-left">
                                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                        </a>
                                        <div class="">
                                          <h4 class="title">
                                            Lorem Impsum
                                          </h4>
                                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr data-status="cancelado">
                                    <td>
                                      <div class="media">
                                        <a href="#" class="pull-left">
                                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                        </a>
                                        <div class="">
                                          <h4 class="title">
                                            Lorem Impsum
                                          </h4>
                                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr data-status="pendiente">
                                    <td>
                                      <div class="media">
                                        <a href="#" class="pull-left">
                                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                        </a>
                                        <div class="">
                                          <h4 class="title">
                                            Lorem Impsum
                                          </h4>
                                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                        </div>
                                      </div>
                                    </td>
                                 </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>  