<div class="container">
   <!--  <hr class="divider-title"> -->
    <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-lg-offset-1" >
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/ile-ife.jpg" (click)='type(0)'>
                    <span class="actions">
                        <span class="project-details">BEACHES</span>
                    </span>
                </figure>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/ile-ife.jpg" (click)='type(1)'>
                    <span class="actions">
                        <span class="project-details">RESORTS</span>
                    </span>
                </figure>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4" style='height:200px;'>
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/erinijesha.jpg" (click)='type(2)'>
                    <span class="actions">
                        <span class="project-details">GAME RESERVES</span>
                    </span>
                </figure>
            </div>
        </div>
    </div>   
    <div class="row" >
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 col-lg-offset-1 places" style='height:200px;'>
              <div class="project">
                  <figure class="img-responsive">
                      <img src="../../assets/images/erinijesha.jpg" (click)='type(3)'>
                      <span class="actions">
                          <span class="project-details">MOUNTAINS AND HILLS</span>
                      </span>
                  </figure>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 places" style='height:200px;'>
              <div class="project">
                  <figure class="img-responsive">
                      <img src="../../assets/images/erinijesha.jpg" (click)='type(4)'>
                      <span class="actions">
                          <span class="project-details">WATER FALLS</span>
                      </span>
                  </figure>
              </div>
            </div>
    </div>    

</div>


