<div id='nav'><app-topbar></app-topbar></div>
  <div class='container-fluid' style="margin-top: 65px;">
    <div class="head well well-sm" style='background-color: #F1F3FA;padding: 0px 0px 0px 5px;'>
      <div style="border-bottom: 1px solid rgb(173, 173, 173);z-index:-7">
        <div class="row" style="margin-left: 10px;">
          <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn">ADMIN</a>
            <a class="btn">TOUR CENTRE NAME</a>
            <a href="#" class="btn">BOOKED</a>
          </div>
        </div>
      </div>
      <div class="row status" style='margin-top: 20px;margin-bottom: 20px;text-align: center;'>
        <div class='col-lg-3 col-md-3 col-sm-12 col-xs-6 works'>
          <p class='round' style="background-color: #1e90ff;"><i class='icons glyphicon glyphicon-edit'></i>
          </p>         
          <p>New Book( {{new_book}} )</p>
        </div>  
        <div class='col-lg-3 col-md-3 col-sm-12 col-xs-6 works'>
            <p class='round' style="background-color: #3e3f3a;"><i class='icons glyphicon glyphicon-transfer'></i></p>
            <p>Transaction( {{transactions}} )</p>
        </div>
        <div class='col-lg-3 col-md-3 col-sm-12 col-xs-6 works'>
          <p class='round' style="background-color: #ff1493;"><i class='icons glyphicon glyphicon-pencil'></i></p>
          <p>Reviews( .... )</p>
        </div> 
        <div class='col-lg-3 col-md-3 col-sm-12 col-xs-6 works'>
          <p class='round' style="background-color: #34495e;"><i class='icons glyphicon glyphicon-pencil'></i></p>
            <p>Visited( {{visited}} )</p>
        </div> 
      </div>
          <!-- </ul> -->
      <div class='status' style="border-top: 1px solid rgb(173, 173, 173);z-index:-7">
          <div class="btn-group">
            <p href="#" class="btn showdata" style="">MY WALLET( {{wallets}} )</p>
            <p class="btn showdata" style="">PENDING TRANSACTIONS( {{pending_transaction}} )</p>
            <p href="#" class="btn showdata" style="">COMPLETED TRANSACTION( {{complete_transaction}} )</p>
            <p href="#" class="btn showdata" style="">LIKES( {{likes}} )</p>
            <p href="#" class="btn showdata" style="">RATING(....)</p>
          </div>
      </div>
    </div>
  </div>
  <div class='topnav'>
    <a (click) = 'showBooked()'>BOOKED</a>
    <a (click) = 'editProfile()'>EDIT PROFILE</a>
    <a (click) = 'editFacilities()'>FACILITIES</a>
    <a (click) = 'showPayment()'>TRANSACTION</a>
    <a (click) = 'showReviews()'>REVIEWS</a>
  </div> 
  <div class="discontainer container" style=''>
    <div class='row' [hidden]="hide_booked">
      <div class='col-lg-6 col-xs-12 col-sm-6' style="background-color: #F1F3FA" *ngIf = "booked.length== 0">
         <div class="well well-sm">
            No Book so far
         </div>
      </div>
      <div class='col-lg-6 col-xs-12 col-sm-6' *ngFor= "let book of booked">
        <div class="promoBox info-box info-ribbon">
        <aside><p>NEW BOOK</p></aside>
        <h4>{{book.user.email}}</h4>
        <p>Expecting: {{book.tourist}} people</p>
        <p>Tour Date: {{book.tour_date}}</p>
        <p>Ticket ID: {{book.ticketID}}</p>
        </div> 
      </div>      
    </div>   
    <div class='row' [hidden]="hide_payment">
      <div class='col-lg-12 col-xs-12 col-sm-6' style="background-color: #F1F3FA" *ngIf = "booked.length ==0">
         <div class="well well-sm">
            No Book so far
         </div>
      </div>
      <div class='col-lg-6 col-xs-12 col-sm-6' *ngFor= "let payment of booked">
        <div class="promoBox success-ribbon">
          <aside style=""><p>PAYMENT</p></aside>
          <h4>{{payment.user.email}}</h4>
          <p>Paid #{{payment.amount_paid}} via Paystack</p>
          <p>Payment Date: {{payment.create_date}}</p>
          <p>Tourist: {{payment.tourist}}</p>
          <p>Ticket ID: {{payment.ticketID}}</p>
        </div>
      </div>
    </div>
    <div class='row' [hidden] ='hidemsg'>
        <div class='col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12'>
        <div class="alert alert-dismissible alert-{{bckgnd}}">
        <strong>{{state}}!</strong> 
        <div>{{msg}}</div>
        </div>
        </div>
      </div>
    <div class='row' [hidden]= 'hide_facilities'>
       <div class="middlePage">
           <div class="panel panel-info">
           <div class="panel-heading">
            <h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">1</button> Facilites</h3>
           </div>
          <div class="panel-body">
            <div class="row" style="">
              <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 listsmall' *ngFor = 'let facility of facilities'>
                  <div  style="background-color: #f1f3fA;text-align: center;padding:2px 0px 2px 0px;">
                    <span style="padding:4px 0px 4px 0px;">
                      {{facility}}
                    </span>
                    <span style="float: right;margin-right: 5px;color:red;font-size: 16px;" (click)=removefacility(facility)>x</span>
                  </div>          
              </div>

          </div>
            <div class="row" style="margin-top:40px;">
             <div class="col-lg-8 col-lg-offset-2">
              <div class="well well-sm">
                <form class="form-inline" style="text-align: center;">
                  <div class="form-group">
                   <input type="text" name='facility' [(ngModel)] = 'facility' class="form-control input-sm" id="" placeholder="Add facility">
                  </div>
                <button type="submit" class="btn btn-success btn-sm" (click) = 'add()'>Add</button>
               </form>
              </div> 
             </div>
            </div>
          </div>
          </div>
         </div>
         <div class='row' style='text-align: center;padding-bottom: 20px;'>
           <div class='col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-4'>
            <button class='btn btn-success btn-block btn-sm' (click)='savefacilities()'>Update facilities</button>
         </div>
         </div>
    </div>
    <div class='row' [hidden]="hide_editProfile">  
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="middlePage">
          <div class="panel panel-info">
            <div class="panel-heading">
             <h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">1</button>TOUR CENTRE INFORMATION</h3>
          </div>
          <div class="panel-body">    
            <div class="row"> 
                <div class="col-lg-12" >
                  <div class='row'>
                    <div class='col-lg-4'>
                      <label for="Name" class='labelName'>Attraction Name</label>
                        <input type="text"  [(ngModel)] = 'attrname' name='attrname' class="form-control input-sm" id="" placeholder="">
                    </div>
                    <div class='col-lg-4'>
                      <label for="Name" class='labelName'>Email Address</label>
                      <input type="name" name='attremail' [(ngModel)] = 'attremail' class="form-control input-sm" id="" placeholder="">
                    </div>
                    <div class='col-lg-4'>
                      <label for="Name" class='labelName'>Phone Number</label>
                      <input type="name" name='pNumber' [(ngModel)] = 'attrpNumber' class="form-control input-sm" id="" placeholder="">
                    </div>
                </div>
                <div class='row' style="margin-top: 12px;">
                  <div class='col-lg-4'>
                    <label for="Name" class='labelName'>Location</label>
                      <select name='location' [(ngModel)] = 'location' class="form-control input-sm">
                            <option value=''>Location</option>
                            <option value='Lagos'>Lagos</option>
                            <option value='Abia'>Abia</option> 
                            <option value='Abuja'>Abuja</option>
                            <option value='Adamawa'>Adamawa</option>
                            <option value='Akwa Ibom'>Akwa Ibom</option>
                            <option value='Bauchi'>Bauchi</option>
                            <option value='Bayelsa'>Bayelsa</option>
                            <option value='Benue'>Benue</option>
                            <option value='Borno'>Borno</option>
                            <option value='Cross River'>Cross River</option>
                            <option value='Delta'>Delta</option>
                            <option value='Ebonyi'>Ebonyi</option>
                            <option value='Enugu'>Enugu</option>
                            <option value='Edo'>Edo</option> 
                            <option value='Ekiti'>Ekiti</option>
                            <option value='Gombe'>Gombe</option>
                            <option value='Imo'>Imo</option>
                            <option value='Jigawa'>Jigawa</option>
                            <option value='Kaduna'>Kaduna</option>
                            <option value='Kano'>Kano</option>
                            <option value='Katsina'>Katsina</option>
                            <option value='Kebbi'>Kebbi</option>
                            <option value='Kogi'>Kogi</option>
                            <option value='Ebonyi'>Kwara</option>
                            <option value='Nasarawa'>Nasarawa</option>
                            <option value='Niger'>Niger</option> 
                            <option value='Ogun'>Ogun</option>
                            <option value='Ondo'>Ondo</option>
                            <option value='Osun'>Osun</option>
                            <option value='Oyo'>Oyo</option>
                            <option value='Plateau'>Plateau</option>
                            <option value='Rivers'>Rivers</option>
                            <option value='Sokoto'>Sokoto</option>
                            <option value='Taraba'>Taraba</option>
                            <option value='Yobe'>Yobe</option>
                            <option value='Zamfara'>Zamfara</option>
                      </select>
                  </div>
                  <div class='col-lg-4'>
                    <label for="Name" class='labelName'>Category</label>
                      <select name='category' [(ngModel)] = 'category' class="form-control input-sm">
                          <option value='Waterfall'>Waterfall</option>
                          <option value='Beach'>Beach</option>
                          <option value= 'Game reserve'>Game Reserve</option>
                          <option value='Resort'>Resort</option>
                          <option value='Mountains and Hills'>Mountains and Hills</option>
                      </select>
                  </div>
                  <div class='col-lg-4 col-md-6 col-xs-12 col-sm-12'> 
                    <label for="Name" class='labelPrice'>Price per head</label>
                    <input type="number" name='priceperhead' [(ngModel)] = 'priceperhead' class="form-control input-sm" id="" placeholder="">
                  </div>
              </div>
              <div class='row' style="margin-top: 12px;">
                <div class='col-lg-6'>
                  <label for="Name" class='labelName'>Driving instruction</label><textarea name='drivingInstruction' type="text" [(ngModel)] = 'drivingInstruction' class="form-control" rows='2' id="" placeholder=""></textarea>
                </div>
                <div class='col-lg-6'>
                  <label for="Name" class='labelName'>Address</label>
                  <textarea name='attraddress' type="text" [(ngModel)] = 'attraddress' class="form-control" rows='2' id="" placeholder=""
                  ></textarea>
                </div>
              </div>
          </div>
        </div>   
           </div>
          </div>
         </div>
        
         <div class="middlePage">
         <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">2</button>CONTACT YOU</h3>
          </div>
          <div class="panel-body">    
            <div class="row"> 
              <div class="col-lg-12" >
                  <form class="form-horizontal">
                    
                  </form>
                  <div class='row'>
                    <div class='col-lg-4'>
                       <label for="Name" class='labelName'>Name</label>
                       <input type="name" name='adminName' [(ngModel)]='adminName' class="form-control input-sm" id="" placeholder="">
                    </div>
                    <div class='col-lg-4'>
                       <label for="Name" class='labelName'>Email Address</label>
                       <input type="name" name='adminEmail' [(ngModel)]='adminEmail' class="form-control input-sm" id="" placeholder="">
                    </div>
                    <div class='col-lg-4'>
                       <label for="Name" class='labelName'>Phone Number</label>
                       <input type="name" name='adminpNumber' [(ngModel)]='adminpNumber' class="form-control input-sm" id="" placeholder="">
                    </div>
                  </div>
              </div>
            </div>   
          </div>
         </div>
          </div>
           </div>
           <div class='row' style='text-align: center;padding-bottom: 20px;'>
         <div class='col-lg-3 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3'>
          <button class='btn btn-success btn-block btn-sm' (click)='saveAttraction()'>Update</button>
         </div>
     </div>
      </div>
         <div class='row' [hidden]="hide_reviews" style="margin-top: 10px;">
          <div class='col-lg-2 col-lg-offset-3 col-sm-3 col-xs-3 imgdiv' style="">
            <img src="../../assets/images/3.jpg" style="">
          </div>
          <div class='col-lg-7 col-sm-3 col-xs-9 maintext'>
              <h4>Ogunrinde Omotayo</h4>
              <p style="word-wrap: none">It was all fumme</p>
          </div>
        </div>
  </div>     




  