@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
body {
  font-family: 'Nunito', sans-serif;
}
.overlay{
  position: absolute;
  top:50px;
  left:0px;
  background-color: rgba(0,0,0,0.3);
  z-index:123444444444;
  width:100%;
  height: auto;
  display: none;
}
.panel-heading{
  background-color: white;
}
.panel-title{
  color:black;
}
.head{
  margin-top: 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border:1px solid #ccc;
  background-color: transparent;
}
.imgdiv{
  width:8%;
}
.showdata{
  border-right: 1px solid rgb(173, 173, 173);
}
.imgdiv img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.btn-circleb {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  border:1px solid #fff;
  background-color: transparent;
}
.topnav{
  background-color: #34495e;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top:-15px;
  color:white;
  margin-bottom: 7px;
}
.topnav a{
  float:left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.topnav p{
  float:left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover{
  background-color: #93c54b;
  color:white;
}
.topnav a.active{
  background-color: #93c54b;
  color:#fff;
}
.mainhead{
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 3px solid rgb(173, 173, 173);
  margin-bottom: 10px;
  text-align: center;
}
.subhead{
  font-size: 15px;
  color:#93c54b;
  display: inline-block;
}
.subhead p{
  margin-right: 25px;
  border-left: 3px solid #93c54b;
}
.round{
  width: 90px;
  height: 90px;
  border-radius: 45px;
  text-align: center;
  margin-left:auto;margin-right: auto;
}
.sidebarcontainer{
   padding-left:20px;
}
.sidebarcontainer a{
  color:black;
  opacity: 0.6;
}

.icons{
  font-size: 40px;
  color:#fff;
  margin-top:32%;
  margin-right:auto;margin-left: auto;
}
.eachhead{
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  color:#fff;
  background-color: blue;
  opacity: 0.5;
}
.eachhead span{
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.viewsearch{
  position: relative;
  top:-20px;
  left: 0px;
  width: 100%;
  height: 0px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  z-index: 3;
}
.overlay-content{
  color:#fff;
  opacity: 1;
  z-index:4556;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
 /* background-color: #f9f9f9;*/
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  max-width: 660px;
  margin: 0 auto 1.2em 2em;
  height: 200px;
}
.boxit{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.14);
}
.box-header {
  width: 100%;
  color: white;
  background-color: #414EF9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;

}

.box-header h3 {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.box-header .header-item {
  margin: 0 1.2em;
  font-size: 16px;
}

.box-header .header-item span {
  margin-right: 1em;
  color: white;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  /*border-bottom: 1px solid #414EF9;*/
}
.lastrow div{
  display: inline-block;
}
.left {
  width: auto;
}
.right {
  width: 55%;
}
.thumbnail-wrapper {
  background-size: cover;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  width: 300px;
  height: 200px;
  margin: 0;
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2)), url(../../assets/images/4.jpg);
}

.right {
  padding: 0 0em 0 0em;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  font-size: 14px;
}

.map {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0 0.6em 0;
}

table {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  /*border-bottom: 1px solid #e8e8e8;*/
  color: #999;
}

table tr {
  padding: 0.6em 1em 0.6em 1em;
}

table td {
  width: 33.3%;
  text-align: center;
}

table tr:nth-of-type(1) td {
  font-weight: 700;
}

.attractions-wrapper:last-child {
  margin-bottom: 0;
}

.attractions-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attractions-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.attractions-wrapper .attractions-row {
  margin-bottom: 6px;
}

.attractions-tile {
  width: 50px;
  height: 50px;
  background-size: cover !important;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  margin: 8px;
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2)), url("https://lh6.googleusercontent.com/-Jo_rtgNYd_E/WDoSMWkyQRI/AAAAAAAAB_g/tSk59gfIoTElMtPzEwnyh1WRCeLv00BzwCLIB/s1600-w400/");
}

.attractions-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.tag {
  border-radius: 3px;
  padding: 3px 6px;
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #999;
  fill: #999;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .6px;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 1em;
}

.footer {
  padding: 1em 0;
}

i.fa-expand {
  font-size: 22px;
}

.origin {
  margin-right: 30px;
  font-weight: 700;
}

.map .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #414EF9;
}

.map .line {
  width: 80%;
  border: 2px solid #414EF9;
}

.destination {
  margin-left: 6px;
  font-weight: 700;
}

.thumbnail-overlay-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(65, 78, 249, 0.3);
}

.thumbnail-overlay-inner span:nth-child(1) {
  margin-left: 5px
}

.thumbnail-overlay-inner span:nth-child(2) {
  margin-right: 5px
}

.thumbnail-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vira-btn{
  border-color: #fff;
  color: black;
  background-color: #fff;
  border: 1px solid white;
}
.vira-btn:hover{
  background-color: transparent;
  color: #fff;
}


/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #F1F3FA;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn:hover{
    color: #93c54b;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 0px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
} 
.discontainer{
  width:70%;
}
.promoBox {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 10px;
  width: 100%;
    border: 2px solid #ddd;
  -webkit-border-radius: 0px;
      border-radius: 0px;
    overflow: hidden;

  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.promoBox aside {
  position: absolute;
  width: 230px;
  right: 0;
  margin: 0 -65px 0 0;
  -webkit-transform: rotate(35deg);
   -khtml-transform: rotate(35deg);
     -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
      transform: rotate(35deg);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  
  color: #fff;
  background: #4f85bb;
  background: -moz-linear-gradient(-45deg, #4f85bb 0%, #4f85bb 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb));
  background: -webkit-linear-gradient(-45deg, #4f85bb 0%,#4f85bb 100%);
  background: -o-linear-gradient(-45deg, #4f85bb 0%,#4f85bb 100%);
  background: -ms-linear-gradient(-45deg, #4f85bb 0%,#4f85bb 100%);
  background: linear-gradient(135deg, #4f85bb 0%,#4f85bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=1 );

}

.promoBox aside p { padding: 10px 80px 10px 80px; margin: 0; }
.promoBox h4 { 
  font-size: 20px; 
  margin: 0; 
  margin-top: 10px;
  padding: 0 35% 7px 0; 
  line-height: 20px; 
  border-bottom: 1px solid #ddd;

}

.promoBox p { font-size: 12px; }

.promoBox.success-box {
  background: #9dd53a;
  background: -moz-linear-gradient(-45deg, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a));
  background: -webkit-linear-gradient(-45deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  background: -o-linear-gradient(-45deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  background: -ms-linear-gradient(-45deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  background: linear-gradient(135deg, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 );
  border-color: #9dd53a;
  color: #fff;
}
.promoBox.success-box h4 { color: #4d690b; border-color: #ccfc5a; }
.promoBox.info-box {
  background: #e0f3fa;
  background: -moz-linear-gradient(-45deg, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd));
  background: -webkit-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: -o-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: -ms-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: linear-gradient(135deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 );
  border-color: #b6e1f6;
}
.promoBox.info-box h4 { color: #225b9c; border-color: #8dc2dd; }
.promoBox.success-ribbon aside {
  background: #a9db80;
  background: -moz-linear-gradient(-45deg, #a9db80 0%, #96c56f 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f));
  background: -webkit-linear-gradient(-45deg, #a9db80 0%,#96c56f 100%);
  background: -o-linear-gradient(-45deg, #a9db80 0%,#96c56f 100%);
  background: -ms-linear-gradient(-45deg, #a9db80 0%,#96c56f 100%);
  background: linear-gradient(135deg, #a9db80 0%,#96c56f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=1 );
}
@media (max-width: 767px){

}
@media (max-width: 767px){
  .works{
        margin-top: 20px;
}
body{
  padding: 0px 0px 0px 0px;
}
.discontainer{
  width:100%;
  /*padding: 0px 0px 0px 0px;*/
}
.promoBox{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-border-radius: 0px;
}
.promoBox h4 {
  font-size: 17px;
}
.topnav a {
  font-size: 13px;
  padding:4px 4px;
}
.showdata{
  border-right:none;
}
.imgdiv{
  width:19%;
}
.imgdiv img{
  width: 50px;
  height: 50px;
  border-radius: none;
}
.maintext h4{
  margin-top: 0px;
  font-size: 14px;
}
.head{
  margin-top:-20px;
}

}