<div id='login-page'>
	<div class='container'>
				 <!-----start-main---->
				 <div class='row' style="text-align: center;margin-top: 70px;">
						<!-- <div class='col-lg-4 col-lg-offset-4' style="text-align: center;">
							<a >LOGO</a>
						</div> -->
				</div>
			<div class="login-form">
					<!-- <div class="head">
						<img src="assets/images/user.png" alt=""/>
						
					</div> -->
					
				<form>
				    <div class="" style="text-align: center;margin-top:-20px;">
						<img routerLink='/' src="assets/images/logt.png" style="width:70px;height:40px;" alt=""/>
						
					</div>
					  <div class="form-group">
					   <div class='row' [hidden]='alert'>
						 <div class='col-sm-12'>
						    <div class="alert alert-dismissible alert-danger">
					          <strong>Alert!</strong> 
					          <div>{{showmsg}}</div>
					       </div>
							{{showmsg}}
						 </div>
				       </div>
					    <label for="email">Email address</label>
					    <input type="email" class="form-control" name='email' [(ngModel)] = 'email' id="" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" name='password' [(ngModel)] = 'password' id="" placeholder="Password">
					  </div>
					  <button type="submit" [disabled] = 'disable' class="btn btn-success btn-sm btn-block" (click) = "doLogin()"><i [hidden] = 'roller' class='fa fa-spinner' style="color:#fff;font-size: 18px;"></i>
					  Sign In</button>
              </form>
			</div>
			<!--//End-login-form-->
  </div>
 </div> 

