<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
             <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">             <!--  <div class="thumbnail">
                <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
              </div> -->
             </li> 
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1"> 
           
             </li>

            <li data-target="#thumbnail-preview-indicators" data-slide-to="2"> 
           <!--  <div class="thumbnail">
                <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
              </div> -->
           </li> 
          </ol>
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>New carousel layout</h1>-->
                  <p>Erin Ijesha</p> 
                  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">view</a></p> -->
                </div>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>Another example headline.</h1> -->
                  <p>Zinab</p> 
                 <!--  <p><a class="btn btn-lg btn-primary" href="#" role="button">view</a></p> -->
                </div>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="container">
                <div class="carousel-caption">
                  <!-- <h1>One more for good measure.</h1> -->
                  <p>Tinapa</p> 
                  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">view</a></p> -->
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 