<div class="profile">
    <div class="col-lg-3">
      <div class="profile-sidebar">
        <div>
          <div class='row' style="text-align: center;" [hidden]='filter'>
            <div class='col-xs-12 bg-primary' style="padding:8px 0px 8px 0px;"><i class='fa fa-spinner'></i> Filtering......</div>
          </div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Budget:</label>
                <div class="input-group">
                  <div class="input-group-addon">&#8358;</div>
                  <input type="number" name='max_price' [(ngModel)] = 'max_price' class="form-control" id="exampleInputAmount" placeholder="Budget">
                </div>
              </div>
            </form>
            <a class="btn btn-success btn-sm btn-block" style="margin-top: 10px;" (click)='searchByBudget()'>REFINE SEARCH</a>
          </div>
        </div>
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Location:</label>
                <input type="email" [(ngModel)] = 'location' name='location' class="form-control" id="exampleInputEmail1" placeholder="location">
              </div>
            </form>
            <a class="btn btn-warning btn-sm btn-block" style="margin-top: 10px;" (click)='searchByLocation()'>SEARCH</a>
          </div>
        </div>
          <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Hot Search</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="recommendation" (change)="hotSearch('0')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Recommendations
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="hot_deals" (change)="hotSearch('1')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Today hot deals
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="most_visit" (change)="hotSearch('2')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Most Visit
                    </label>
                  </div>
                
          </div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Tourist Centres</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="beach" (change)="attraction('0')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      BEACHES
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="reserve" (change)="attraction('1')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      GAME RESERVES
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="mountain" (change)="attraction('2')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      MOUNTAINS AND HILLS
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="resort" (change)="attraction('3')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      RESORTS
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="waterfall" (change)="attraction('3')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      WATERFALLS
                    </label>
                  </div>
          </div>

        </div>
        <div>
        <!--   <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Frequently Visit:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagoon
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ocean
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Dam
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Heaven
                    </label>
                  </div>
          </div> -->

          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">By State:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Osun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ogun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ondo
                    </label>
                  </div>
          </div>

        </div>
      </div>
    </div>
</div>