.project {
    margin-bottom: 30px;
    vertical-align: top;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    width:100%;
}
.dis{
    position: absolute;
    right:10px;
    z-index:2;
    top:0px;
    background-color: gold;
    color:black;
}
.dis p{
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
}
.dis-lg{
    position: absolute;
    right:10px;
    z-index:2;
    margin-right: 5px;
    top:0px;
    background-color: #daa520;
    color:white;
}
.dis-lg p{
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
}
.project figure {
    position: relative;
    display: inline-block;
}
.btn-default{
  background-color: transparent;
  border:1px solid #fff;
}
.project figure img {
    width: 100%;
    height: 220px;
}

.project figure:hover figcaption {
    background:#d81e05;
}
.project figure:hover figcaption .project-details {
    color: #fff;
}

/*.project figure:hover .actions {
    background-color: rgba(216,30,5,.8);
    top: 0%;
    font-size:2.3em;
    font-weight:700;
    padding-top:10%;
}*/

.project figure .actions {
    display: table-cell;
    position: absolute;
    bottom: 0px;
    top: 50%;
    left:0;
    right:0;
    z-index: 1;
    opacity: 1;
    background-color: rgba(29,29,29,.5);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color:#fff;
    font-size:2em;
    padding:2%;
    font-weight:400;
    text-align:center;
    vertical-align: middle;
}

@media (min-width: 992px) {
    .project figure .actions {
    top: 60%;
    left:0;
    right:0;
    font-size:1.5em;
    padding:2%;
}
.project figure:hover .actions {
    top: 0%;
    font-size:2em;
    padding-top:20%;
}
}

@media (min-width: 1200px) {
    .project figure .actions {
    top: 65%;
    left:0;
    right:0;
    font-size:1.1em;
    padding:2%;
    font-weight:400;
}
.project figure:hover .actions {
    top: 0%;
    font-size:1.5em;
    padding-top:25%;
}
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.btn-add a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.classprice-text-color{
    color:#93c54b;
}
.btn-details a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
/*    background-color: #F5F5DC;*/
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
