<div class="container hidden-xs">
   <!--  <hr class="divider-title"> -->
    <div class="row" style='height:220px;'>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class='dis-lg'><p>UP TO 63% DISCOUNT</p></div>
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/ile-ife.jpg">
                    <span class="actions">
                        <span class="project-details">Ile Ife</span>

                        <div><button type="button" class="btn btn-default btn-sm" (click) = "view()">View</button></div>
                    </span>
                </figure>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class='dis-lg'><p>UP TO 63% DISCOUNT</p></div>
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/erinijesha.jpg">
                    <span class="actions">
                        <span class="project-details">Erin Ijesha</span>
                        <div><button type="button" class="btn btn-default btn-sm" (click) = "view()">View</button></div>
                    </span>
                </figure>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class='dis-lg'><p>UP TO 63% DISCOUNT</p></div>
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/Obudu.jpg">
                    <span class="actions">
                         <span class="project-details">Obodu Cattle Ranch</span>
                         <div><button type="button" class="btn btn-default btn-sm" (click) = "view()">View</button></div>
                    </span>
                </figure>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class='dis-lg'><p>UP TO 63% DISCOUNT</p></div>
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/images/header2.jpg">
                    <span class="actions">
                        <span class="project-details">Tinapa</span>
                        <div><button type="button" class="btn btn-default btn-sm" (click) = "view()">View</button></div>
                    </span>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class='container hidden-sm hidden-md hidden-lg'>
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class='dis'><p>UP TO 63% DISCOUNT</p></div>
                            <div class="col-item">

                                <div class="photo">
                                    <img src="../../assets/images/4.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class='pull-left' style="margin-left: 7px;">
                                            <h4 style="margin-top:-7px;">
                                                Erin Ijesha waterfall</h4>
                                        </div>
                                        
                                    </div>
                                    <div class="row" >
                                        <div class='pull-left' style="margin-left: 7px;margin-top:-7px;">
                                            <h5><span style="margin-right: 10px;">PRICE:</span><span style="font-size: 16px;color:#93c54b;margin-right: 10px;">#1000</span><del style="color:#ccc;">#2000</del></h5>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class='item'>
                    <div class='row'>
                        <div class="col-sm-6">
                          <div class='dis'><p>UP TO 63% DISCOUNT</p></div>
                            <div class="col-item">

                                <div class="photo">
                                    <img src="../../assets/images/4.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class='pull-left' style="margin-left: 7px;">
                                            <h4 style="margin-top:-7px;">
                                                Erin Ijesha waterfall</h4>
                                        </div>
                                        
                                    </div>
                                    <div class="row" >
                                        <div class='pull-left' style="margin-left: 7px;margin-top:-7px;">
                                            <h5><span style="margin-right: 10px;">PRICE:</span><span style="font-size: 16px;color:#93c54b;margin-right: 10px;">#1000</span><del style="color:#ccc;">#2000</del></h5>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class='dis'><p>UP TO 63% DISCOUNT</p></div>
                            <div class="col-item">

                                <div class="photo">
                                    <img src="../../assets/images/4.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class='pull-left' style="margin-left: 7px;">
                                            <h4 style="margin-top:-7px;">
                                                Erin Ijesha waterfall</h4>
                                        </div>
                                        
                                    </div>
                                    <div class="row" >
                                        <div class='pull-left' style="margin-left: 7px;margin-top:-7px;">
                                            <h5><span style="margin-right: 10px;">PRICE:</span><span style="font-size: 16px;color:#93c54b;margin-right: 10px;">#1000</span><del style="color:#ccc;">#2000</del></h5>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class='item'>
                    <div class="row">
                        <div class="col-sm-6">
                          <div class='dis'><p>UP TO 63% DISCOUNT</p></div>
                            <div class="col-item">

                                <div class="photo">
                                    <img src="../../assets/images/4.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class='pull-left' style="margin-left: 7px;">
                                            <h4 style="margin-top:-7px;">
                                                Erin Ijesha waterfall</h4>
                                        </div>
                                        
                                    </div>
                                    <div class="row" >
                                        <div class='pull-left' style="margin-left: 7px;margin-top:-7px;">
                                            <h5><span style="margin-right: 10px;">PRICE:</span><span style="font-size: 16px;color:#93c54b;margin-right: 10px;">#1000</span><del style="color:#ccc;">#2000</del></h5>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class='item'>
                    <div class="row">
                       <div class="col-sm-6">
                          <div class='dis'><p>UP TO 63% DISCOUNT</p></div>
                            <div class="col-item">

                                <div class="photo">
                                    <img src="../../assets/images/4.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class='pull-left' style="margin-left: 7px;">
                                            <h4 style="margin-top:-7px;">
                                                Erin Ijesha waterfall</h4>
                                        </div>
                                        
                                    </div>
                                    <div class="row" >
                                        <div class='pull-left' style="margin-left: 7px;margin-top:-7px;">
                                            <h5><span style="margin-right: 10px;">PRICE:</span><span style="font-size: 16px;color:#93c54b;margin-right: 10px;">#1000</span><del style="color:#ccc;">#2000</del></h5>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


