@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
div{
  /*font-family: 'Lora', serif;*/
  font-family: Roboto Condensed, sans-serif;
}
.top{ margin-top: 60px;}
.info-user{
  color:black;
  border-bottom: 1px solid #bce8f1;
  padding: 15px auto 15px auto;
  margin-left: 7px;
}
.loading{
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index:466666666666;
}
.last{
  border-bottom: none;
}
.head{
  margin-top: 0px;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #F1F3FA;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn:hover{
    color: #93c54b;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 0px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

p {
	color:#CCC;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.inform-user{
  margin-top: 60px;
}
/*.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/

.logo {
	color:#CCC;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border:1px solid #ccc;
  background-color: transparent;
}
label{
  font-weight: 100px;
  font-size: 12px;
}
.btn-default{
	background-color: #fff;
	border: 1px solid #CCC;
	color:black;
}
.panel-heading{
	background-color: #fff;
	/*border:1px solid black;*/
	color:black;
}
.panel-title{
	color: black;
}
.header{
	background-color: #93c54b
}
.title-sum{
  color: #fff;
}

.fal span {
  display: inline-block;
}

@media screen and (max-width: 767px){
    .inform-user{
      margin-top: 0px;
    }
    label{
      font-size: 16px;
      font-weight: lighter;
      margin-top: 7px;
    }
    .head{
      margin-top:-20px;
      background-color: red;
    }
    .listsmall{
      margin-top:10px;
    }
    .top{ margin-top: 80px;}
    .btn-breadcrumb a{ font-size: 14px; }
    .panel-title{ font-size: 14px; }
    .input-sm{ height: 40px;font-size:16px; }
    .btn-sm{ font-size: 14px; }
    #photo{font-size: 14px;}
  }