<div id='nav' style=''><app-topbar></app-topbar></div>
<div class="container-fluid top">
	<div class="head well well-sm" style='background-color: #F1F3FA;padding: 0px 0px 0px 5px;border: 1px solid rgb(173, 173, 173);'>

		<div style="">
			<div class="row" style="margin-left: 10px;">
				<div class="btn-group btn-breadcrumb">
					<a href="#" class="btn">HOME</a>
					<a href="#" class="btn">ADD ATTRACTION</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='container' style="margin-top: 10px;">
	<div class='row' [hidden]='hideMsg'>
		<div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
			<div class="alert alert-dismissible alert-warning">
				<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
				<h4>Warning!</h4>
				<p>{{validateResult}}</p>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1">
			<div class="middlePage">
				<div class="page-header" style="margin-top: -12px;">
					<h4 class="logo">Please supply the Information below</h4>
				</div>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">1</button>TOUR CENTRE INFORMATION</h3>
					</div>
					<div class="panel-body">	  
						<div class="row"> 
							<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
								<div class='row'>
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Attraction Name</label>
										<input type="text" class="form-control input-sm" [(ngModel)] = 'attrname' name='attrname' placeholder="">
									</div>
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Email Address</label><input type="text" name='attremail' [(ngModel)] = 'attremail' class="form-control input-sm" id="" placeholder="">
									</div>
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Phone Number</label><input type="name" name='pNumber' [(ngModel)] = 'attrpNumber' class="form-control input-sm" id="" placeholder="">
									</div>
								</div>
								<div class='row' style="margin-top: 12px;">
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Location</label>
										<select name='location' [(ngModel)] = 'location' class="form-control input-sm">
											<option value='abia'>Abia</option>
											<option value='abuja'>Abuja</option>
											<option value='adamawa'>Adamawa</option>
											<option value='akwa ibom'>Akwa Ibom</option>
											<option value='bauchi'>Bauchi</option>
										</select>
									</div>
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Category</label>
										<select name='category' [(ngModel)] = 'category' class="form-control input-sm">
											<option value='waterfall'>Waterfalls</option>
											<option value="beaches">Beaches</option>
											<option value='game reserve'>Game Reserves</option>
											<option value='mountains and hills'>Mountains and hills</option>
											<option>Resorts</option>
										</select>
									</div>
									<div class='col-lg-4 col-md-6 col-xs-12 col-sm-6'> 
										<label for="Name" class='labelPrice'>Price per head</label>
										<input type="number" name='priceperhead' [(ngModel)] = 'priceperhead' class="form-control input-sm" id="" placeholder="">
									</div>
								</div>
								<div class='row' style="margin-top: 12px;">
									<div class='col-lg-6 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Driving instruction</label><textarea name='drivingInstruction' type="text" [(ngModel)] = 'drivingInstruction' class="form-control" rows='2' id="" placeholder=""></textarea>
									</div>
									<div class='col-lg-6 col-md-6 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Address</label><textarea name='attraddress' type="text" [(ngModel)] = 'attraddress' class="form-control" rows='2' id="" placeholder=""
										></textarea>
									</div>
								</div>

							</div>
						</div>   
					</div>
				</div>
			</div>
			<div class="middlePage">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">2</button> Facilites</h3>
					</div>
					<div class="panel-body">
						<div class="row" style="">
							<div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 listsmall' *ngFor = 'let facility of facilities'>

								<div  style="background-color: #f1f3fA;text-align: center;padding:2px 0px 2px 0px;">
									<span style="padding:4px 0px 4px 0px;">
										{{facility}}
									</span>
									<span style="float: right;margin-right: 5px;color:red;font-size: 16px;" (click)=removefacility(facility)>
										x
									</span>
								</div>          
							</div>

						</div>	
						<div class="row" style="margin-top:40px;">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="well well-sm">
									<form class="form-inline" style="text-align: center;">
										<div class="form-group">
											<input type="text" name='facilities' [(ngModel)] = 'facility' class="form-control input-sm" id="" placeholder="Add facility">
										</div>
										<button type="submit" class="btn btn-success btn-sm" (click) = 'add()'>Add</button>
									</form>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="middlePage">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">3</button>CONTACT YOU</h3>
					</div>
					<div class="panel-body">	  
						<div class="row"> 
							<div class="col-lg-12" >
								<form class="form-horizontal">

								</form>
								<div class='row'>
									<div class='col-lg-4 col-md-4 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Name</label><input name='adminName' [(ngModel)]='adminName' type="name" class="form-control input-sm" id="" placeholder="">
									</div>
									<div class='col-lg-4 col-md-4 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Email Address</label><input name='adminEmail' [(ngModel)]='adminEmail' type="name" class="form-control input-sm" id="" placeholder="">
									</div>
									<div class='col-lg-4 col-md-4 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Phone Number</label> <input name='adminpNumber' [(ngModel)]='adminpNumber' type="name" class="form-control input-sm" id="" placeholder="">
									</div>
								</div>
								<div class='row'>
									<div class='col-lg-6 col-md-4 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Password</label><input name='adminName' [(ngModel)]='adminpass' type="name" class="form-control input-sm" id="" placeholder="">
									</div>
									<div class='col-lg-6 col-md-4 col-xs-12 col-sm-6'>
										<label for="Name" class='labelName'>Confirm Password</label><input name='adminEmail' [(ngModel)]='cpassword' type="name" class="form-control input-sm" id="" placeholder="">
									</div>
								</div>
							</div>
						</div>   
					</div>
				</div>
			</div>
			<div class="middlePage">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><button type="button" class="btn btn-circle" style="margin-right: 7px;">4</button>Add Images</h3>
					</div>
					<div class="panel-body">
						<div class="row" style="">
							<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 listsmall'  *ngFor = 'let file of photo'>

								<div  style="background-color: #f1f3fA;text-align: center;padding:2px 0px 2px 0px;">
									<span style="padding:4px 0px 4px 0px;">
										{{file}}
									</span>
									<span style="float: right;margin-right: 5px;color:red;font-size: 16px;" (click)=removeimg(file)>
										x
									</span>
								</div>          
							</div>

						</div>	 
						<!-- <input id='photo' placeholder='Upload Images' (change)="fileChange()" type="file" name="file">   -->
						<input id="photo" placeholder='Upload Images' (change)="fileChange()" type="file" name="file">
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 col-xs-12 col-lg-12' style="float:left;margin-left: 7px;margin-bottom: 12px;">
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" [(ngModel)] = 'terms' name='terms' value="option1"> 
						<a routerLink='/terms' style="color:black;font-size: 14px;"><i class="fa fa-angle-double-right"></i>I agree with the terms and condition</a>
					</label>
				</div>
			</div>
			<div class='row' [hidden]='hideMsg'>
				<div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
					<div class="alert alert-dismissible alert-warning">
						<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
						<h4>Warning!</h4>
						<p>{{validateResult}}</p>
					</div>
				</div>
			</div>
			<div class='row' style='text-align: center;padding-bottom: 20px;'>
				<div class='col-lg-3 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3'>

					<button style="font-size: 18px;" class='btn btn-success btn-block btn-sm' [disabled] = "to" (click)='saveAttraction()'><i *ngIf = "to" class='fa fa-spinner' style="color:#fff;font-size: 18px;"></i>{{what}}</button>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inform-user">
			<div class="middlePage">
				<div class="panel panel-info">
					<div class="panel-heading header">
						<h3 class="panel-title title-sum">THINGS YOU SHOULD KNOW</h3>

					</div>
					<div class='panel-body' style="padding: 0px 0px 0px 0px;margin-top: 15px;">
						<p class='info-user'><span style="margin-left: 3px;">
							It is absolutely free to list attractions on our website.
						</span></p>
						<p class='info-user'><span style="margin-left: 3px;"> You can also add attraction by sending a mail to info.tripply@gmail.com</span></p>
						<p class='info-user'><span style="margin-left: 3px;">After submitting your filled form, login to your page the email and password sent to your mail to submit further details about the attraction.</span> </p>
						<p class='info-user'><span style="margin-left: 3px;">Pictures of the attraction must be supplied to aid visiblity.</span></p>
						<p class='info-user last'><span style="margin-left: 3px;">Log in to the admin page to edit attraction information if need be.</span> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal modal-sm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Terms and Conditions</h4>
			</div>
			<div class="modal-body">
				<div class='row'>
					<div class='col-sm-12 col-lg-8 col-lg-offset-2'>
						<h3>Terms and conditions</h3>
						<p>These terms and conditions apply to all types of services Tripply ("Tripply", "we", "us", "our" or "ours") offer, both direct or indirect. The terms "you", "your", "yourself", "yours" and "customer" refer to the individual person or corporation who subscribes to our newsletters and offers, creates an account with us or makes a booking (whether complete/incomplete, successful/unsuccessful) through this website. The terms "Final Party" and "Tourist Center Provider" refer to the Tourist centers (not limited 'tourist centers' only, but also applies to 'beaches', 'game reserves' and 'resorts') that is advertised on tripply.com.ng regardless of whether a signed deal between us and them exists or does not.

							Terms and conditions may be revised and modified occasionally, hence, it is advisable not to familiarize yourself with them at any point in time, but review them each and every time you use any of our services. Services (direct and indirect) apply to everything provided online, through mobile devices and computers of all platforms, by email, telephone, post or through direct contact with our officers. You accept that you have read, understood and agreed to the terms and conditions (as well as our privacy policy) below, if and when you make use of our service in any way, including but not limited to browsing this website, rating or giving tourist centers reviews, commenting on a review, or booking.
						</p>
						<h3>Legal Use</h3>
						<p>Your utilization of any of our services warrant that you will not make unlawful use of this website or any contents and materials we provide through other means with which we correspond with you or final parties on your behalf.</p>
						<h3>Tripply Service Scope</h3>
						<p>Tripply provide a reliable and comfortable online booking and reservation platform for government and private owned tourist sites (beaches, game reserves and resorts inclusive) in Nigeria. The provision of these services are found on the website through which you can book for your chosen service. By placing a reservation through us, you enter into a legally binding agreement with the direct service provider (tourist centers and the likes) with which your reservation is made to. Right after your reservation is placed, Tripply acts simply as a mediator between you and the service provider.

							We pass along information you have provided towards placing a reservation unto the final party and relay confirmation messages, updates and invoices back to you via SMS and email for and on their behalf. The accuracy of information provided on the website is exclusive to the service providers who are responsible for updating their accounts with Tripply on their current status. Though we aim to provide information about final parties which are as correct as possible, we will not confirm, neither will we guarantee that they are complete or accurate.

							Tourist centers recommendations on our website are not given by us, we do not verify them and therefore cannot give assurance about them. We will only offer suggestions based on criteria </p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<!-- <app-file-upload></app-file-upload> -->