<div class="profile">
    <div class="col-lg-3 col-md-3 col-sm-4">
      <div class="profile-sidebar">
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Budget per head:</label>
                 <div class="input-group">
                  <div class="input-group-addon input-sm">&#8358;</div>
                  <input type="number" name='max_price' [(ngModel)] = 'max_price' class="form-control input-sm" id="exampleInputAmount" placeholder="Budget">
                </div>
                <!-- <input type="number" name='max_price' [(ngModel)] = 'max_price' class="form-control" id="exampleInputEmail1" placeholder="Budget"> -->
              </div>
            </form>
            <a class="btn btn-success btn-sm btn-block" style="margin-top: 10px;" (click)='searchByBudget()' >REFINE SEARCH</a>
          </div>
        </div>
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Location:</label>
                <input type="email" class="form-control input-sm" id="exampleInputEmail1" [(ngModel)] = 'location' name='location' placeholder="location">
              </div>
            </form>
            <a class="btn btn-warning btn-sm btn-block" style="margin-top: 10px;" (click)='searchByLocation()'>SEARCH</a>
          </div>
        </div>
          <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Tourist Centres</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="beach" (change)="attraction('0')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Beaches
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="reserve" (change)="attraction('1')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Game Reserves
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="mountain" (change)="attraction('2')">

                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Mountains and Hills
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="resort" (change)="attraction('3')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Resorts
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="waterfall" (change)="attraction('4')">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Waterfalls
                    </label>
                  </div>
          </div>

        </div>
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Frequently Visit:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagoon
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ocean
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Dam
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Heaven
                    </label>
                  </div>
          </div>

          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">By State:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Osun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ogun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ondo
                    </label>
                  </div>
          </div>

        </div>
      </div>
    </div>
</div>