<div class="container hidden-xs">
   <!--  <hr class="divider-title"> -->
    <div class="row" >
         <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
		       <figure class="snip1166 green-fam">
				  <img src="../../assets/images/ile-ife.jpg" alt="sample73" />
				  <figcaption>
				    <h3>ORUNMIYAN</h3>
				    <div>
				      <p>We live, in a very kooky time.</p>
				    </div><a href="#"></a>
				  </figcaption>
				</figure>
		 </div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
		        <figure class="snip1166 navy">
				  <img src="../../assets/images/erinijesha.jpg" alt="sample73" (click) = "topdeals()"/>
				  <figcaption>
				    <h3>ERIN IJESHA</h3>
				    <div>
				      <p>We live, in a very kooky time.</p>
				    </div><a href="#"></a>
				  </figcaption>
				</figure>
		 </div>   
		 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
		       <figure class="snip1166 red">
				  <img src="../../assets/images/erinijesha.jpg" alt="sample73"/>
				  <figcaption>
				    <h3>TOP PARK</h3>
				    <div>
				      <p>We live, in a very kooky time.</p>
				    </div><a href="#"></a>
				  </figcaption>
				</figure>
		 </div>
		  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
		       <figure class="snip1166 blue">
				  <img src="../../assets/images/erinijesha.jpg" alt="sample73"/>
				  <figcaption>
				    <h3>OBODU</h3>
				    <div>
				      <p>We live, in a very kooky time.</p>
				    </div><a href="#"></a>
				  </figcaption>
				</figure>
		 </div>

    </div>
</div>    
<div class='container hidden-sm hidden-md hidden-lg'>
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="../../assets/images/5.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>ORUMIYAN</h4>
                                            <p>It is a place to be this summer</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class='item'>
                    <div class='row'>
                         <div class="col-xs-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="../../assets/images/5.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>ORUMIYAN</h4>
                                            <p>It is a place to be this summer</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="../../assets/images/5.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>ORUMIYAN</h4>
                                            <p>It is a place to be this summer</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class='item'>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="../../assets/images/ile-ife.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Ile Ife</h4>
                                            <p>It is a place to be this summer</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class='item'>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="../../assets/images/erinijesha.jpg" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>OB0DU</h4>
                                            <p>It is a place to be this summer</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


