@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

.container{
   font-family: Roboto Condensed, sans-serif;
}
.wrapper{
	margin-top: 60px;
	background-color: #F1F3FA;
	width: 80%;
	margin-left: auto;margin-right: auto;
	border-radius: 10px;

}