<div class='container'>
            <app-topbar></app-topbar>
</div>
<div class='container'>
   <div class='wrapper'>
   	  <div class='row'>
		<div class='col-sm-12 col-lg-8 col-lg-offset-2'>
			<h3>Privacy Policy</h3>
			<p>Tripply has created this privacy policy to demonstrate our commitment to the privacy of the users of our websites. Please read the following to learn more about our privacy policy, and how we treat personally identifiable information collected from our visitors and users.
           </p>
           <h3>What this Privacy Policy Covers</h3>
           <p>This privacy policy covers Tripply’s treatment of personally identifiable information collected by Tripply through a website owned and operated by Tripply. 
          This privacy policy does not apply to the practices of companies that Tripply does not own or control, or of persons that Tripply does not employ or manage, including any third-party content contributors bound by contract and any third-party websites to which Tripply website links.
          </p>
           <h3>Collection and Use of Personal Information</h3>
           <p>You can visit the website of Tripply without revealing any personal information. However, Tripply needs certain personal information if you wish to purchase our products, register for an affiliate account, receive Tripply newsletter, or use certain Tripply services. Where required, this information may include your personal contact information and/or your company contact information. Tripply will use this information to reply to your inquiries, to provide you with requested products and services, to set up your member's account, and to contact you regarding new products and services. By accessing the services of Tripply and voluntarily providing us with the requested personal information, you consent to the collection and use of the information in accordance with this privacy policy. Tripply undertakes not to violate the privacy of Visa cardholders or any other cardholders who transact on Tripply. </p>
            <h3>Collection and Use of Non-Personal Information</h3>
           <p>Tripply automatically receives and records non-personal information on our server logs from your browser including your IP address, cookie information and the page you requested. Tripply may use this information to customize the advertising and content you see and to fulfill your requests for certain products and services. However, Tripply does not connect this non-personal data to any personal information collected from you.
            Tripply also allows third party companies that are presenting advertisements on some of our pages to set and access their cookies on your computer. Again, these cookies are not connected to any personal information. Third party cookie usage is subject to their own privacy policies, and Tripply assumes no responsibility or liability for this usage.
           </p>
           <h3>Information Sharing and Disclosure</h3>
           <p>
             Tripply may disclose your personal information to third parties who work on behalf of Tripply to provide products and services requested by you. We will share personal information for these purposes only with third parties whose privacy policies are consistent with ours or who agree to abide by our policies with respect to personal information 
            Tripply may otherwise disclose your personal information when: </p>
              <ul>
                <li>We have your express consent to share the information for a specified purpose.</li>
                <li>We need to respond to subpoenas, court orders or such other legal process.</li>
                <li>We need to protect the personal safety of the users of our websites or defend the rights or property of Tripply.</li>
                <li> We find that your actions on our websites violate the Tripply Terms of Use document or any of our usage guidelines for specific products or services.</li>
              </ul>
            <h3>Consent</h3>
            <p>If you do not consent to the collection, use or disclosure of your personal information as outlined in this policy, please do not provide any personal information to Tripply. If you have provided personal information to Tripply and no longer consent to its use or disclosure as outlined herein, please notify Tripply at <a href="mailto:tripply@tripply.com">tripplyng@gmail.com</a> or <a href="mailto:tripply@tripply.com">info.tripply@gmail.com</a></p>
            <h3>Security</h3>
            <p>Unfortunately, no data transmission over the Internet can be considered 100% secure. However, your Tripply Information is protected for your privacy and security. In certain areas of our websites, as identified on the site, Tripply uses industry-standard SSL-encryption to protect data transmissions.
            We also safeguard your personal information from unauthorized access, through access control procedures, network firewalls and physical security measures.
            Further, Tripply retains your personal information only as long as necessary to fulfil the purposes identified above or as required by law.
            </p>
            <h3>Changes to this Privacy Policy</h3>
            <p>Tripply may at any time, without notice to you and in its sole discretion, amend this policy from time to time. Please review this policy periodically. Your continued use of Tripply website after any such amendments signifies your acceptance thereof.</p>
            <h3>Questions or Suggestions</h3>
            <p>If you have questions or suggestions about this privacy policy, or your own personal information, please e-mail us at <a href="mailto:tripply@tripply.com">tripply@tripply.com</a>info.tripply@gmail.com  </p>
		</div>
	</div>
   </div>
	
</div>
<footer class="">
    <app-footer></app-footer>
</footer>