<div  style="position: fixed;width:100%;left:0px;height: 100%;z-index: 90;overflow-y: hidden;">
<div class="container">
	<div class="row" >
		<div class="text-center">
            <h2>Please wait.....</h2>
        </div> 
        <div class='col-sm-12' style="text-align: center;">
           <img src="../../assets/images/loading.gif">
         </div> 
        
	</div>
</div>
</div>