<div class="profile">
    <div class="col-lg-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
<!--         <div class="profile-userpic">
          <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div> -->
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
    <!--     <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Marcus Doe
          </div>
          <div class="profile-usertitle-job">
            Developer
          </div>
        </div> -->
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
     <!--    <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div> -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Budget:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Budget">
              </div>
            </form>
            <a href="#" class="btn btn-success btn-sm btn-block" style="margin-top: 10px;">REFINE SEARCH</a>
          </div>
        </div>
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid grey;'>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Location:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="location">
              </div>
            </form>
            <a href="#" class="btn btn-warning btn-sm btn-block" style="margin-top: 10px;">SEARCH</a>
          </div>
        </div>
          <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Tourist Centres</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Museum
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Beach
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Mountain
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      River
                    </label>
                  </div>
          </div>

        </div>
        <div>
          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">Frequently Visit:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagoon
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ocean
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Dam
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Heaven
                    </label>
                  </div>
          </div>

          <div style='padding:5px 5px 5px 5px;border-bottom: 1px solid #dfd7ca;'>
            <label for="exampleInputEmail1">By State:</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Lagos
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Osun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ogun
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="" checked>
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      Ondo
                    </label>
                  </div>
          </div>

        </div>
      </div>
    </div>
</div>