<div class="row">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">ADD IMAGE</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">UPLOAD</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">view</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">Book</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
<div class="row" style="margin-top: 20px;">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">ADD IMAGE</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">UPLOAD</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">ADD IMAGE</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">UPLOAD</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
<div class="row" style="margin-top:20px;">
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">ADD IMAGE</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">UPLOAD</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" value="">
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                              Default Image
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                          <a href="" class="btn btn-warning btn-sm hidden-sm">ADD IMAGE</a></p>
                                        <p class="btn-details">
                                          <a href="" class="btn btn-success btn-sm hidden-sm">UPLOAD</a></p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
</div>