<app-topbar></app-topbar>
<div class='container' style="margin-top: 7%;">
	<div class='row'>
		<div class='col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12'>
			<div class="alert alert-dismissible alert-danger">
	          <strong>Alert!</strong> 
	          <div>Can't save data..Please try again later</div>
	          <div style='text-align:center;margin-top:7px;'><a class='btn btn-primary btn-sm' routerLink='/{{towhere}}'>Try again</a></div>
	</div>
		</div>
	</div>
</div>

	