<app-topbar></app-topbar>
<div class='container' style="margin-top: 7%;">
	<div class='row'>
		<div class='col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12'>
			<div class="alert alert-dismissible alert-success">
	          <strong>Success!</strong> 
	          <div>You successfully added an Attraction</div>
	          <div style='text-align:center;margin-top:7px;'><a class='btn btn-primary btn-sm' routerLink='/login'>Proceed to Log In</a></div>
	       </div>
		</div>
	</div>
</div>

	