<div id='nav'><app-topbar></app-topbar></div>
  <div class='container-fluid' style='margin-top: 60px;'>
    <!-- <ul class="breadcrumb" style='margin-top:50px;height: 100px'> -->
    <div class="head well well-sm" style='background-color: #F1F3FA;padding: 0px 0px 0px 5px;'>
        <div style="border-bottom: 1px solid rgb(173, 173, 173);z-index:-7">
                <div class="row" style="margin-left: 10px;">
              <div class="btn-group btn-breadcrumb">
                <a href="#" class="btn">VIEW</a>
                <a class="btn">CATEGORY</a>
                <a href="#" class="btn">TOUR NAME</a>
              </div>
              </div>
        </div>
        <div class='row' style="margin-top:10px;">
           <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
              <h4>{{attr[0].AttractionAddress}}</h4>
           </div>
           <div class='col-lg-1 col-md-1 col-sm-3 col-xs-3'>
             <button type="submit" (click) ='likes()' style="background-color: transparent;border:1px solid rgb(173, 173, 173);color: black" class="btn btn-success btn-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes: {{like}}</button>
           </div>
           <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12'>
              <div class='' style="text-align: center;"><button type="submit" style="background-color: transparent;border:1px solid rgb(173, 173, 173);color: black" class="btn btn-success btn-sm" routerLink='/book' (click)="book(attr[0])">PROCEED TO BOOKING&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button></div>
           </div>
        </div>
      </div>
  </div> 
<div class="container-fluid">
  <div class='row'>
     <!-- <app-carousel-for-xs></app-carousel-for-xs>  -->
    
      <div class="col-lg-6 col-sm-12 col-xs-12">
         <app-view-tabs></app-view-tabs>
         
      </div>
    <div class='col-lg-6 col-sm-12 col-xs-12'>
       <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class='overlaydiv'>
          <p class='pull-left'>{{attr[0].AttractionCategory}}</p>
          <p class='pull-right'>Price: &#8358; {{attr[0].Priceperhead}} </p>
          <!-- <div class='row' style="text-align: center;">
            <div class='col-xs-12 col-lg-12 col-md-12 col-sm-12'>
               <button type="submit" style="background-color: transparent;border:2px solid #fff;" class="btn btn-sm">PROCEED TO BOOKING&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></button>
            </div>
          </div> -->
        </div>
        <div class="carousel-inner" role="listbox">
            <div *ngFor="let img of Images let i = index" [attr.data-index]="i" class="item slide{{i+1}}"
             [ngClass]= "i === 0 ?'active' : ''"
            [ngStyle]="{ 'background-image': 'url(../../assets/images/'+img+')'}">
                <div class="row"><div class="container">
                    
                </div></div>
             </div> 
        </div>
       
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
        </div>
       </div>
    </div>
  </div>
</div> 







  