@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
body {
  font-family: Roboto Condensed, sans-serif;
}
.btn-md{
  height:45px;
  font-size: 15px;
}
.head{
  margin-top: 0px;
}
.top{
  margin-top: 60px;
}
.vira-btn{
  border-color: #51c2b9;
  color: #51c2b9;
  border-radius: 4px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 30px;
  background-color: #93c54b;
  transition: all 0.3s ease-in-out;
}
.form-control{
  border-radius: 5px;
  /*padding: 25px;*/
    font-size: 14px;
    /*font-style: italic;*/
    background-color: #fff;
    color: black;
    margin-bottom: 30px;
  /*border-color: #51c2b9;*/
  width: 250px;
}
.eachhead{
  position: relative;
  top:0px;
  left:0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  color:#fff;
  background-color: blue;
  opacity: 0.5;
}
.eachhead span{
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.viewsearch{
  position: relative;
  top:-20px;
  left: 0px;
  width: 100%;
  height: 0px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  z-index: 3;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
 /* background-color: #f9f9f9;*/
  width: 65%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*max-width: 660px;*/
  margin: 0 auto 1.2em 2em;
  height: 160px;
}
.boxit{
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.14);
  border:1px solid rgba(0, 0, 0, 0.14);
  margin-bottom: 10px;
  padding:5px 5px;
}
.box-header {
  width: 100%;
  color: white;
  background-color: #414EF9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;

}

.box-header h3 {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.box-header .header-item {
  margin: 0 1.2em;
  font-size: 16px;
}

.box-header .header-item span {
  margin-right: 1em;
  color: white;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  /*border-bottom: 1px solid #414EF9;*/
}
.lastrow div{
  display: inline-block;
}
.left {
  width: 45%;
}
.right {
  width: 55%;
}
.thumbnail-wrapper {
  background-size: cover;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  min-height: 160px;
  width: 100%;
  height: 160px;
  margin: 0;
  /*border-right: 1px solid #93c54b;*/
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2));
}

.right {
  padding: 0 0em 0 0em;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  font-size: 14px;
}

.map {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0 0.6em 0;
}

table {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  /*border-bottom: 1px solid #e8e8e8;*/
  color: #999;
}

table tr {
  padding: 0.6em 1em 0.6em 1em;
}

table td {
  width: 33.3%;
  text-align: center;
}

table tr:nth-of-type(1) td {
  font-weight: 700;
}

.attractions-wrapper:last-child {
  margin-bottom: 0;
}

.attractions-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.takecare{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.facilities{
  background-color: #e8e8e8;
  padding: 0px 0px 0px 0px;
  margin-top:-5px;
  height:30px;
  color:#999;
  border-bottom: 1px solid #e8e8e8;
}
.attractions-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0px;
}

.attractions-wrapper .attractions-row {
  margin-bottom: 6px;
}

.attractions-tile {
  /*width: 7%;*/
  height: 50px;
  background-size: cover !important;
  color: white;
  display: flex;
/*  justify-content: space-around;*/
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  margin-top: 5px;
  background: linear-gradient(rgba(65, 78, 249, 0.2), rgba(65, 78, 249, 0.2)), url("https://lh6.googleusercontent.com/-Jo_rtgNYd_E/WDoSMWkyQRI/AAAAAAAAB_g/tSk59gfIoTElMtPzEwnyh1WRCeLv00BzwCLIB/s1600-w400/");
}

.attractions-details {
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.tag {
  border-radius: 0px;
  padding: 3px 6px 0px;
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #999;
  fill: #999;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .6px;
  /*line-height: 0px;*/
  text-transform: uppercase;
  margin-right: 1em;
}

.footer {
  padding: 1em 0;
}

i.fa-expand {
  font-size: 22px;
}

.origin {
  margin-right: 30px;
  font-weight: 700;
}

.map .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #414EF9;
}

.map .line {
  width: 80%;
  border: 2px solid #414EF9;
}

.destination {
  margin-left: 6px;
  font-weight: 700;
}

.thumbnail-overlay-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #999;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  padding: 0.2em 0;
  /*background-color: rgba(65, 78, 249, 0.3);*/
  background-color: #e8e8e8;
}

.thumbnail-overlay-inner span:nth-child(1) {
  margin-left: 5px
}

.thumbnail-overlay-inner span:nth-child(2) {
  margin-right: 5px
}

.thumbnail-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vira-btn{
  border-color: #fff;
  color: #fff;
  background-color: #93c54b;
  border: 1px solid white;
}


/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #F1F3FA;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn:hover{
    color: #93c54b;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 0px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
.arrows{
  border-bottom: 1px solid rgb(173, 173, 173);
}
.head{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:1200px){
  .container{
    width:100%;
  }
}
@media (max-width:850px){
  .container{
    width:100%;
  }
  .box{
    width:90%;
  }
}
@media (max-width: 900px){
   .container-fluid{
     width:100%;
      padding: 0px;
   }  
   .row{
      width: 100%;
   }  
   .form-inline{
      width:100%;
   }
   .form-control{
    width: 32%;
   }
}
@media (max-width: 900px){
 } 
@media (max-width: 767px) {
  .arrows{
    border-bottom: none;
  }
  .overlay{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,0.6);
    z-index:123444444444;
    width:50%;
    height: auto;
 }

 .overlay-content{
  color:#fff;
  opacity: 1;
  z-index:4556;
}
.head{
  margin-top:-20px;
  background-color: red;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(173, 173, 173);
}
.top{
  margin-top:80px;
}
.btn-breadcrumb a{
  font-size: 14px;
}
.btn-sm{
  background-color: #ccc;
  color:#fff;
}
.tab-content{
  display: block;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
.veryxs{
  display: none;
}

}
@media (max-width: 580px) {
  .overlay {
    width:70%;
  }
  .tab-content{
    display: block;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
  }
 } 
@media (max-width: 450px) {
 .overlay {
    width:80%;
  } 
 .tab-content{
  display: none;
 }
 .veryxs{
  display: block;
  width:95%;
  margin-left:auto;
  margin-right:auto;

 }
}
 @media (max-width: 380px) {
 .overlay {
    width:100%;
  } 
 .veryxs{
  display: block;
  width:100%;
  margin-left:auto;
  margin-right:auto;

 }
}