           <app-topbar></app-topbar>
           <div class='container-fluid top'>
             <!-- <ul class="breadcrumb" style='margin-top:50px;height: 100px'> -->
             <div class='overlay hide'>
              <div class='overlay-content' style="">
                <div>
                  <p style="margin-left: 85%;margin-top: 20px;" class="Hidefilters" ><i class='glyphicon glyphicon-remove-circle' style="font-size: 30px;color:#fff"></i></p></div>
                  <app-sidebar-for-small-device></app-sidebar-for-small-device>
                </div>
              </div>
              <div class="head well well-sm" [ngStyle] = 'breadcrumb' style='background-color: #F1F3FA;padding: 0px 0px 0px 5px;'>

               <div class='arrows'>
                 <div class="row" style="margin-left: 10px;">
                  <div class="btn-group btn-breadcrumb">
                    <a class="btn">SEARCH</a>
                    <a class="btn">Filters</a>
                    <a class="btn">RESULTS</a>
                  </div>
                </div>
              </div>
              <div class="row hidden-xs" style='margin-top: 20px;margin-bottom: 20px;text-align: center;'>
                <div class="">
                  <div class="col-sm-12">
                    <form class="form-inline">
                     <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail3">Location</label>
                       <select [(ngModel)] = 'location' name='location' class="form-control" placeholder='' style="">
                         <option value=''>Location</option>
                         <option value='Lagos'>Lagos</option>
                         <option value='Abia'>Abia</option> 
                         <option value='Abuja'>Abuja</option>
                         <option value='Adamawa'>Adamawa</option>
                         <option value='Akwa Ibom'>Akwa Ibom</option>
                         <option value='Bauchi'>Bauchi</option>
                         <option value='Bayelsa'>Bayelsa</option>
                         <option value='Benue'>Benue</option>
                         <option value='Borno'>Borno</option>
                         <option value='Cross River'>Cross River</option>
                         <option value='Delta'>Delta</option>
                         <option value='Ebonyi'>Ebonyi</option>
                         <option value='Enugu'>Enugu</option>
                         <option value='Edo'>Edo</option> 
                         <option value='Ekiti'>Ekiti</option>
                         <option value='Gombe'>Gombe</option>
                         <option value='Imo'>Imo</option>
                         <option value='Jigawa'>Jigawa</option>
                         <option value='Kaduna'>Kaduna</option>
                         <option value='Kano'>Kano</option>
                         <option value='Katsina'>Katsina</option>
                         <option value='Kebbi'>Kebbi</option>
                         <option value='Kogi'>Kogi</option>
                         <option value='Ebonyi'>Kwara</option>
                         <option value='Nasarawa'>Nasarawa</option>
                         <option value='Niger'>Niger</option> 
                         <option value='Ogun'>Ogun</option>
                         <option value='Ondo'>Ondo</option>
                         <option value='Osun'>Osun</option>
                         <option value='Oyo'>Oyo</option>
                         <option value='Plateau'>Plateau</option>
                         <option value='Rivers'>Rivers</option>
                         <option value='Sokoto'>Sokoto</option>
                         <option value='Taraba'>Taraba</option>
                         <option value='Yobe'>Yobe</option>
                         <option value='Zamfara'>Zamfara</option>
                       </select>
                       <select name='category' [(ngModel)] = 'category' class="form-control">
                        <option value=''>Category</option>
                        <option value = 'Waterfall'>Waterfall</option>
                        <option value='Beach'>Beach</option>
                        <option value= 'Game Reserve'>Game Reserve</option>
                        <option value='Mountains and Hills'>Mountains and Hills</option>
                        <option value='Resort'>Resort</option>
                      </select>
                      <select name='max_price' [(ngModel)] = 'max_price' class="form-control">
                        <option value='0'>Max Price(in &#8358;)</option>
                        <option value='500'>&#8358;500</option>
                        <option value='1000'>&#8358;1000</option>
                        <option value='2000'>&#8358;2000</option>
                        <option value='2500'>&#8358;2500</option>
                        <option value='3000'>&#8358;3000</option>
                      </select>
                    </div>
                    <div class="form-group">
                     <a class="btn btn-md btn-success vira-btn" (click) = "search()">SEARCH</a>
                   </div>  
                 </form>
               </div>
             </div>
           </div>
           <!-- </ul> -->
           <div class='filters pull-left hidden-sm hidden-md hidden-lg'><span style="font-size: 27px;margin-left: 7px;"><i class='glyphicon glyphicon-menu-hamburger'></i></span></div>
         </div>
       </div>
       <div class="container hidden-xs" style=''>
        <div class='row'>
          <app-sidebar></app-sidebar>  
          <div class='col-lg-9 col-md-9 col-sm-8'>
            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
             <li class="active"><a style='background-color:#F1F3FA;' href="#home" data-toggle="tab" aria-expanded="true">Search Results</a></li>
             <li class="" ><a style='background-color:#F1F3FA;' href="#profile" data-toggle="tab" aria-expanded="false">Facilities</a></li>
             <li class=""><a style='background-color:#F1F3FA;' href="#profile" data-toggle="tab" aria-expanded="false">Recommendations</a></li>
           </ul>
           <div [hidden]='hideRes' class='col-sm-12' style="margin-top: 3%;text-align: center;"><img src="../../assets/images/loading.gif"></div> 
           <div *ngIf='isempty' class='col-sm-12' style="margin-top: 3%;text-align: center;">
            <div class="head well well-sm" style='background-color: #F1F3FA'>
              Oops!!! No Result found
            </div>   
          </div>  
          <div id="myTabContent" [hidden] ='list' *ngFor = "let attraction of attr" class="tab-content">
            <div class="tab-pane fade active in" id="home">
              <div class="row">
               <div class='col-lg-11 col-lg-offset-1 col-md-12 col-sm-12' style='padding-left: 0px;overflow-x: hidden;'>
                 <div class="box" style=''>
                   <div class="content" >
                     <div class="left" (click)='gotoview(attraction)'>
                       <div class="thumbnail-wrapper" [ngStyle]="{ 'background-image': 'url(../../assets/images/'+attraction.Images[0]+')'}">
                         <div class="thumbnail-overlay">
                           <div class="thumbnail-overlay-inner"><span>{{attraction.AttractionLocation}}</span><!-- <span>{{attraction.AttractionTown}}</span> --></div>
                         </div>
                       </div>
                     </div>
                     <div class="right">
                       <div class='' style='padding-bottom: 15px;border-bottom: 1px solid #F1F3FA;margin-top: 5px;'>
                         <div class='row' style='margin-left:0px;padding:10px 0px 0px auto;margin-top:0px;'>
                           <div class='col-sm-12' style="margin-left:-7px;margin-top:7px;"><p class='takecare' style="">{{attraction.AttractionAddress}}</p>
                            <span class="tag" style="margin-top:-5px;">{{attraction.AttractionCategory}}</span>
                          </div>
                        </div>
                      </div>
                      <div class='facilities' style="border-bottom: 1px solid #F1F3FA;">
                       <div class='row' style='margin-left:10px;padding:10px 0px 5px auto;margin-top:5px;'>
                        <div class='col-sm-4'><p class='takecare'>{{attraction.Facilities[0]}}</p></div>
                        <div class='col-sm-4' ><p class='takecare'>{{attraction.Facilities[1]}}</p></div>
                        <div class='col-sm-4'><p class='takecare' style="">{{attraction.Facilities[2]}}</p></div>
                      </div>
                    </div>

                    <div class='lastrow'>
                      <div class='text-left' style='margin-left:10px;padding:19px 10px 0px auto;margin-top:25px'>
                       <span style='color:#DAA520;font-weight:lighter;font-size:16px;margin-top:19px'>&#8358; {{attraction.Priceperhead}}</span>
                     </div>
                     <div class='' style='margin-right:10px;margin-left: auto;padding:1px 3px 0px auto;float:right;margin-top:20px'>
                       <button type="submit" class="btn btn-sm" style='' (click)="book(attraction)">Book Now</button>
                     </div>
                   </div>

                 </div>
               </div>
             </div>
           </div> 
         </div>
       </div>
     </div>
   </div>
 </div>
</div>   
<div class='container hidden-sm hidden-md hidden-lg'>
  <div [hidden]='hideRes' class='col-sm-12' style="margin-top: 3%;text-align: center;"><img src="../../assets/images/loading.gif"></div> 
  <div *ngIf='isempty' class='col-sm-12' style="margin-top: 3%;text-align: center;">
    <div class="head well well-sm" style='background-color: #F1F3FA'>
      Oops!!! No Result found
    </div>
  </div>  
   <div [hidden] ='list' *ngFor = "let attraction of attr" class="tab-content">
            <div class="tab-pane fade active in" id="home">
              <div class="row">
               <div class='col-lg-11 col-lg-offset-1 col-md-12 col-sm-12' style='padding-left: 0px;overflow-x: hidden;'>
                 <div class="box" style=''>
                   <div class="content" >
                     <div class="left" (click)='gotoview(attraction)'>
                       <div class="thumbnail-wrapper" [ngStyle]="{ 'background-image': 'url(../../assets/images/'+attraction.Images[0]+')'}">
                         <div class="thumbnail-overlay">
                           <div class="thumbnail-overlay-inner"><span>{{attraction.AttractionLocation}}</span><!-- <span>{{attraction.AttractionTown}}</span> --></div>
                         </div>
                       </div>
                     </div>
                     <div class="right">
                       <div class='' style='padding-bottom: 15px;border-bottom: 1px solid #F1F3FA;margin-top: 5px;'>
                         <div class='row' style='margin-left:0px;padding:10px 0px 0px auto;margin-top:0px;'>
                           <div class='col-xs-12' style="margin-left:-7px;margin-top:7px;"><p class='takecare' style="">{{attraction.AttractionAddress}}</p>
                            <span class="tag" style="margin-top:-5px;">{{attraction.AttractionCategory}}</span>
                          </div>
                        </div>
                      </div>
                      <div class='facilities' style="border-bottom: 1px solid #F1F3FA;">
                       <div class='row' style='margin-left:10px;padding:10px 0px 5px auto;margin-top:5px;'>
                        <div class='col-xs-6'><p class='takecare'>{{attraction.Facilities[0]}}</p></div>
                        <div class='col-xs-6' ><p class='takecare'>{{attraction.Facilities[1]}}</p></div>
                      </div>
                    </div>
                    
                    <div class='lastrow'>
                      <div class='text-left' style='margin-left:10px;padding:19px 10px 0px auto;margin-top:25px'>
                       <span style='color:#DAA520;font-weight:lighter;font-size:16px;margin-top:19px'>&#8358; {{attraction.Priceperhead}}</span>
                     </div>
                     <div class='' style='margin-right:10px;margin-left: auto;padding:1px 3px 0px auto;float:right;margin-top:20px'>
                       <button type="submit" class="btn btn-sm" style='' (click)="book(attraction)">Book Now</button>
                     </div>
                   </div>
                   
                 </div>
               </div>
             </div>
           </div> 
         </div>
       </div>
    </div> 
 <div class="row veryxs" [hidden] ='list' *ngFor = "let attraction of attr">
 <div class='col-xs-12'>
    <img (click)='gotoview(attraction)' src="../../assets/images/{{attraction.Images[0]}}" style="width:100%;height: 200px;">
    <div class='boxit'>
     <div style="color:#34495e"><h4>{{attraction.AttractionName}}</h4></div>
     <div><p class='takecare'>{{attraction.AttractionAddress}}</p></div>
     <div><span class='pull-left' style="margin-left: 3px;">&#8358;{{attraction.Priceperhead}}</span><span class='pull-right' style="margin-right: 7px;">Likes:23</span></div>
     <div style="text-align: center;"><a class="btn btn-sm" style="margin-top: 10px;font-size: 14px;" (click)="book(attraction)">BOOK NOW</a></div>
   </div>
 </div>
</div>
</div>




