<div class='container'>
            <app-topbar></app-topbar>
</div>
<div class='container'>
   <div class='wrapper'>
   	  <div class='row'>
		<div class='col-sm-12 col-lg-8 col-lg-offset-2'>
			<h3>Terms and conditions</h3>
			<p>These terms and conditions apply to all types of services Tripply ("Tripply", "we", "us", "our" or "ours") offer, both direct or indirect. The terms "you", "your", "yourself", "yours" and "customer" refer to the individual person or corporation who subscribes to our newsletters and offers, creates an account with us or makes a booking (whether complete/incomplete, successful/unsuccessful) through this website. The terms "Final Party" and "Tourist Center Provider" refer to the Tourist centers (not limited 'tourist centers' only, but also applies to 'beaches', 'game reserves' and 'resorts') that is advertised on tripply.com.ng regardless of whether a signed deal between us and them exists or does not.

            Terms and conditions may be revised and modified occasionally, hence, it is advisable not to familiarize yourself with them at any point in time, but review them each and every time you use any of our services. Services (direct and indirect) apply to everything provided online, through mobile devices and computers of all platforms, by email, telephone, post or through direct contact with our officers. You accept that you have read, understood and agreed to the terms and conditions (as well as our privacy policy) below, if and when you make use of our service in any way, including but not limited to browsing this website, rating or giving tourist centers reviews, commenting on a review, or booking.
           </p>
           <h3>Legal Use</h3>
           <p>Your utilization of any of our services warrant that you will not make unlawful use of this website or any contents and materials we provide through other means with which we correspond with you or final parties on your behalf.</p>
           <h3>Tripply Service Scope</h3>
           <p>Tripply provide a reliable and comfortable online booking and reservation platform for government and private owned tourist sites (beaches, game reserves and resorts inclusive) in Nigeria. The provision of these services are found on the website through which you can book for your chosen service. By placing a reservation through us, you enter into a legally binding agreement with the direct service provider (tourist centers and the likes) with which your reservation is made to. Right after your reservation is placed, Tripply acts simply as a mediator between you and the service provider.

			We pass along information you have provided towards placing a reservation unto the final party and relay confirmation messages, updates and invoices back to you via SMS and email for and on their behalf. The accuracy of information provided on the website is exclusive to the service providers who are responsible for updating their accounts with Tripply on their current status. Though we aim to provide information about final parties which are as correct as possible, we will not confirm, neither will we guarantee that they are complete or accurate.

			Tourist centers recommendations on our website are not given by us, we do not verify them and therefore cannot give assurance about them. We will only offer suggestions based on criteria </p>
		</div>
	</div>
   </div>
	
</div>
<footer class="">
    <app-footer></app-footer>
</footer>