<div id='login-page'>
	<div class='container'>
				 <!-----start-main---->
				 <div class='row' style="text-align: center;margin-top: 70px;">
						<div class='col-lg-4 col-lg-offset-4' style="text-align: center;">
							<a routerLink='/'>LOGO</a>
						</div>
				</div>
			<div class="login-form">
					<!-- <div class="head">
						<img src="assets/images/user.png" alt=""/>
						
					</div> -->
				<form>
					  <div class="form-group">
					    <label for="email">Email address</label>
					    <input type="email" class="form-control" name='email' id="" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" name='password' id="" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <label for="password">Confirm Password</label>
					    <input type="password" class="form-control" name='cpassword' id="" placeholder="Confirm Password">
					  </div>
					  <button type="submit" class="btn btn-warning btn-sm btn-block">Create Account</button>
              </form>
			</div>
			<!--//End-login-form-->
  </div>
 </div> 

